<h1 class="drawer-title">Data drives impact</h1>
<p class="drawer-subtitle"><strong class="uppercase">Tanzania and Zanzibar</strong></p>
<p>Technology is changing the way we make decisions by providing managers with real-time facility level information. FHI 360 is working with governments to harness the power of new digital tools to troubleshoot complex issues, rapidly remediate problems and allocate resources wisely.</p>
<p>In <strong>Tanzania</strong>, FHI 360 is using the m360 School Information System (SIS) &mdash; an open-source Android-based solution &mdash; to facilitate onsite data collection, analysis and real-time data visualizations and reports for schools. The m360 SIS collects current information on classroom performance and attendance along with the ability for geographic information system (GIS) mapping and verification. Daily data capture, interactive dashboards and automated alerts and notifications support teachers and principals in monitoring and managing resources.</p>
<p>The m360 SIS works offline and uses short-message service (SMS) technology to transfer data in remote areas, providing complete coverage and helping policymakers to make data-driven decisions to support student success. During 2018, the use of the m360 SIS in Tanzania increased from 4,000 to 8,000 schools, serving nearly 4 million students. In addition, FHI 360 deployed m360 SIS to about 400 schools in <strong>Zanzibar</strong>, reaching as many as 200,000 students.</p>
<p>The m360 SIS is a customizable system built on FHI 360's open-source mobile platform.</p>
<hr>
<p><strong>Project:</strong> Education Quality Improvement Program-Tanzania (EQUIP-T): Developing an Integrated EMIS</p>
<p><strong>Funder:</strong> U.K. Department for International Development (DFID)</p>
<hr>
<p><strong>Project:</strong> Tusome Pamoja (Zanzibar)</p>
<p><strong>Funder:</strong> USAID, as a sub-prime implementer to RTI International</p>
