<h1 class="drawer-title">Literacy improved through local language learning</h1>
<p class="drawer-subtitle"><strong class="uppercase">Nigeria</strong></p>
<p>In Nigeria's northwest states of Katsina and Zamfara, fewer than one-quarter of children can read a single word. Children without basic reading and math skills are less likely to finish school and hold jobs.</p>
<p>That is changing since the Reading and Numeracy Activity (RANA) project introduced Hausa language teaching materials in grades 1-3.  RANA also equips teachers with new techniques, engages local governments in school oversight and mobilizes parents to be involved in their children's education.</p>
<p>In 2018, the Katsina and Zamfara state governments adopted the <em>Hausa Early Grade Reading Implementation Guideline</em>, which outlines state education authorities' responsibility for supporting Hausa literacy. FHI 360 collaborated with local government and community organizations to develop the guidelines. The Katsina state government has printed and distributed more than 353,000 RANA-authored student workbooks.</p>
<p>The impact of teaching early grade reading is clear: During the 2017–2018 school year, RANA students showed a 47 percent improvement in letter-sound recognition and the percentage of students who could not read one word decreased by 15 percent. The percentage of girls with basic literacy skills increased from 29 percent to more than 55 percent from 2015 to 2018. The project is expanding to four additional states &mdash; Bauchi, Kebbi, Niger and Sokoto.</p>
<p>Watch how RANA is <a href="https://www.fhi360.org/media/videos/innovative-literacy-program-transforms-teaching-nigerian-schools" target="_blank">transforming lives</a> in northwest Nigeria.</p>
<hr>
<p><strong>Project:</strong> <a href="https://www.fhi360.org/projects/reading-and-numeracy-activity-rana" target="_blank">The Reading and Numeracy Activity</a></p>
<p><strong>Funder:</strong> UNICEF, with support from the U.K. Department for International Development (DFID)</p>
