<h1 class="drawer-title">State-of-the-art TB control</h1>
<p class="drawer-subtitle"><strong class="uppercase">Linda Musonda<br>
    Zambia</strong></p>
<p><img src="http://fhi360internalnewsletters.azurewebsites.net/ar-2018/TB%20health%20work-Zambia_DRAWER_web.jpg"
    alt="Health worker in Zambia examines x-ray">Linda Musonda had many reasons to worry about the recovery of each of
  her patients. As a nurse officer at the University Teaching Hospital in Lusaka, <strong>Zambia</strong> &mdash; the
  main referral site for complicated multidrug-resistant tuberculosis (MDR-TB) patients &mdash; Linda understood well
  the challenges of curing MDR-TB and preventing its spread to others. MDR-TB is a growing global threat spread through
  contact with individuals and is exacerbated by overcrowded facilities and poor ventilation. Treatment spans many
  months.</p>
<p>Until 2018, patients with MDR-TB at Linda’s hospital were treated alongside other patients. They shared toilets,
  bathing facilities and communal spaces, which put everyone at risk. Patients with HIV were at particular risk. Health
  care workers feared that they, too, would become infected.</p>
<p>“The situation was bad,” said Linda, who has worked at the hospital for 15 years. “Infection control was difficult to
  manage.” In 2016, it became clear that urgent action was needed when an evaluation of Zambia’s National TB Program
  found that conditions at the facility put health workers, patients and visitors at risk. </p>
<h2>Raising the standard of care</h2>
<p>Challenge TB, which is managed by FHI 360 in Zambia, responded with a major renovation that converted an unused
  building at the hospital into a state-of-the-art TB ward. The new 54-bed ward is secluded from the rest of the
  hospital, protecting patients, staff and visitors from cross-infections. The ward is fully equipped with the latest
  infection control measures, such as fans to extract potentially infectious airdrops, germicidal ultraviolet
  irradiation to kill infectious TB particles and personal protective equipment for staff and patients. The ward also
  has its own water tank, which has eliminated periodic interruptions in water supply.</p>
<p>The nurses who serve the ward have been trained on how to protect themselves and others when coming into contact with
  MDR-TB patients. They also learned how to use new equipment and how to conduct assessments on infection protection and
  control activities that reduce the risk of hospital-borne TB infections.</p>
<p>In addition to the new ward, the hospital has improved screening and out-patient care for TB patients. Patients are
  now screened at an open-air shelter outside the ward, which minimizes interaction with other patients. Doctors
  determine whether TB patients need to be hospitalized or can be treated by a trained health worker at home or a nearby
  health facility.</p>
<p>Nurse Musonda, who manages the new ward, said the renovated facility and changes in out-patient care have made a real
  difference. “It was difficult to follow up with MDR-TB patients before,” she said. “Now, we are able to manage our TB
  patients better.” Her job satisfaction has also improved. “The nurses are enjoying the environment. It is easier to
  interact with the patients. I feel motivated. Even just working in a cleaner environment motivates me to work.”</p>
<p>Challenge TB is renovating two additional MDR-TB sites in Kabwe and Mansa and completed renovation at the main
  building of the National TB Reference Laboratory. The renovation of the laboratory created a better workflow, made the
  facility cleaner and safer, and provided an environment for quality rapid diagnostics.</p>
<hr>
<p><strong>Project:</strong> <a href="https://www.fhi360.org/projects/challenge-tb" target="_blank">Challenge TB</a></p>
<p><strong>Funder:</strong> USAID</p>
<hr>
<p class="drawer-photo-credit">Photo credit: Mbuto Machili/FHI 360</p>