---
alternates:
bodyclass:
language: en
meta:
  url: REPLACE ME WITH PRODUCTION URL
  title: FHI 360's 2018 Annual Report
  description: description
  keywords: FHI 360 Annual Report 2018
  robots: index, follow
scripts:
  - https://cdn.jsdelivr.net/npm/clipboard@2/dist/clipboard.min.js
  - https://code.jquery.com/jquery-3.2.1.min.js
  - https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.7/jquery.fullpage.js
  - ../js/vendor/modernizr-3.6.0.js
  - ../js/index.js
stylesheets:
  - https://fonts.googleapis.com/css?family=Montserrat:500
  - https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/css/foundation.min.css
  - https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.7/jquery.fullpage.css
  - ../scss/index.scss
title: FHI 360's 2018 Annual Report
uri: /
sectionData:
  - name: TB (Zambia)
    title: State-of-the-art TB control
    subtitle: | 
                <h3>Linda Musonda</h3>
                <h3>Zambia</h3>
    photoCredit: Mbuto Machili/FHI 360
    image: TB_FHI360-Zambia[UTH]62_web.jpg
    caption: imageCaption caption
    toc:
      - desktop: A beekeeper uses new skills to build a thriving business in Jordan
        mobile: A beekeeper in Jordan builds her business
        href: #one
        toc: 1
  - name: Career Centers (Morocco)
    title: "You’re hired: 21st-century career centers"
    subtitle: | 
                <h3>Kenza Elbouazzaoui</h3>
                <h3>Morocco</h3>
    photoCredit: Amira Azzouzi/FHI 360
    image: asdf.jpg
    caption: imageCaption caption
    toc:
      - desktop: A beekeeper uses new skills to build a thriving business in Jordan
        mobile: A beekeeper in Jordan builds her business
        href: #one
        toc: 1
  - name: Compass Rose (USA)
    title: Youth get a second chance Christopher C.
    subtitle: <h3>United States</h3> 
    photoCredit: Leanne Gray/FHI 360
    image: Compass Rose_web.jpg
    caption: imageCaption caption
    toc:
      - desktop: A beekeeper uses new skills to build a thriving business in Jordan
        mobile: A beekeeper in Jordan builds her business
        href: #one
        toc: 1
  - name: Yemen
    title: An integrated response addresses urgent needs 
    subtitle: <h3>Yemen</h3>
    photoCredit: Andrew Renneisen/Stringer/Getty Image
    image: Yemen_GettyImages-1042306644_web.jpg
    caption: imageCaption caption
    toc:
      - desktop: A beekeeper uses new skills to build a thriving business in Jordan
        mobile: A beekeeper in Jordan builds her business
        href: #one
        toc: 1
  - name: SHIFT (Vietnam)
    title: Leading the way in financing the HIV response
    subtitle: <h3>Vietnam</h3>
    photoCredit: Vu Ngoc Dung/FHI 360
    image: SHIFT 8997_web.jpg
    caption: imageCaption caption
    toc:
      - desktop: A beekeeper uses new skills to build a thriving business in Jordan
        mobile: A beekeeper in Jordan builds her business
        href: #one
        toc: 1
  - name: DREAMS (Zimbabwe)
    title: Girl power Jane Nyathi
    subtitle: <h3>Zimbabwe</h3>
    photoCredit: Leanne Gray/FHI 360
    image: Dreams 536_web.jpg
    caption: imageCaption caption
    toc:
      - desktop: A beekeeper uses new skills to build a thriving business in Jordan
        mobile: A beekeeper in Jordan builds her business
        href: #one
        toc: 1
  - name: NTD’s (Laos)
    title: Moving closer to wiping out neglected diseases
    subtitle: <h3>Laos</h3>
    photoCredit: Hadynyah/Getty Images
    image: NTDs_GettyImages-940751048_web.jpg
    caption: imageCaption caption
    toc:
      - desktop: A beekeeper uses new skills to build a thriving business in Jordan
        mobile: A beekeeper in Jordan builds her business
        href: #one
        toc: 1
  - name: RANA (Nigeria)
    title: Literacy improved through local language learning
    subtitle: <h3>Nigeria</h3>
    photoCredit: Kunle Lawal/FHI 360
    image: asdf.jpg
    caption: imageCaption caption
    toc:
      - desktop: A beekeeper uses new skills to build a thriving business in Jordan
        mobile: A beekeeper in Jordan builds her business
        href: #one
        toc: 1
  - name: Ventures
    title: FHI Ventures is launched to scale impact
    subtitle: 
    photoCredit: TBD
    image: asdf.jpg
    caption: imageCaption caption
    toc:
      - desktop: A beekeeper uses new skills to build a thriving business in Jordan
        mobile: A beekeeper in Jordan builds her business
        href: #one
        toc: 1
  - name: CTI
    title: Groundbreaking contraceptive technologies
    subtitle:
    photoCredit: Leanne Gray/FHI 360
    image: CTI-microneedlepatch_web.jpg
    caption: imageCaption caption
    toc:
      - desktop: A beekeeper uses new skills to build a thriving business in Jordan
        mobile: A beekeeper in Jordan builds her business
        href: #one
        toc: 1
  - name: AMD (Ethiopia & Mozambique)
    title: Evidence to avert maternal and newborn deaths
    subtitle: <h3>Ethiopia and Mozambique</h3>
    photoCredit: © UNICEF Ethiopia/2013/Tsegaye
    image: Digital AMDD_8427009988_ba45a790c2_o_web.jpg
    caption: imageCaption caption
    toc:
      - desktop: A beekeeper uses new skills to build a thriving business in Jordan
        mobile: A beekeeper in Jordan builds her business
        href: #one
        toc: 1
  - name: Data Drives impact (Tanzania & Zanzibar)
    title: Data drives impact 
    subtitle: <h3>Tanzania and Zanzibar</h3>
    photoCredit: Sergio Somerville/FHI 360
    image: ar2018-m360-mobileapp_web.jpg
    caption: imageCaption caption
    toc:
      - desktop: A beekeeper uses new skills to build a thriving business in Jordan
        mobile: A beekeeper in Jordan builds her business
        href: #one
        toc: 1

---

{{#extend "base"}}
  {{#content "right-sidebar"}}
    {{> TOC }} 
  {{/content}}
  {{#content "main"}}
    <nav id="up-down">
      <img data-moveup src="../img/icons/arrowup-icon.svg" />
      <img data-movedown src="../img/icons/arrowup-icon.svg" />
    </nav>
    <div id="fullpage">
      
      {{> sections/ceo-letter sectionIndex=1 }}
      {{!-- TB (Zambia) --}}
      {{> sections/tb sectionIndex=2 }}
      {{!-- Career Centers (Morocco)--}}
      {{> sections/career-centers sectionIndex=3 }}
      {{!-- Compass Rose (USA) --}}
      {{> sections/yemen sectionIndex=4 }}
      {{!-- Yemen --}}
      {{> sections/compass-rose sectionIndex=5 }}
      {{!-- SHIFT (Vietnam) --}}
      {{> sections/shift sectionIndex=6 }}
      {{!-- DREAMS (Zimbabwe) --}}
      {{> sections/dreams sectionIndex=7 }}
      {{!-- NTD’s (Laos) --}}
      {{> sections/ventures sectionIndex=8 }}
      {{!-- RANA (Nigeria) --}}
      {{> sections/cti sectionIndex=9 }}
      {{!-- Ventures --}}
      {{> sections/rana sectionIndex=10 }}
      {{!-- CTI --}}
      {{> sections/dig-solution sectionIndex=11 }}
      {{!-- AMD (Ethiopia & Mozambique) --}}
      {{> sections/ntds sectionIndex=12 }}
      {{!-- Data Drives impact (Tanzania & Zanzibar) --}}
      {{> sections/digital-amdd sectionIndex=13 }}
      {{!-- Learn More --}}
      {{> sections/learn-more sectionIndex=14 }}
    </div>  
    {{/content}}
{{/extend}}