---
alternates:
bodyclass:
language: en
meta:
  url: REPLACE ME WITH PRODUCTION URL
  title: CATALYZE FHI 360's 2017 Annual Report
  description: In science, a catalyst ignites a chemical reaction. When applied to human development, a catalyst is the spark that transforms an idea into a solution. In this year's annual report, we share some of the many ways FHI 360 is working with partners to catalyze positive change in the United States and around the world.
  keywords: FHI 360 Annual Report 2017,Catalyze,Global transformative change,Samira Saeed Mouawwad,Injectable cabotegravir,Yatin Thakur,Sino-implant,Jennifer Carlson,CB-DOTS,Obey Assery,Democracy in Myanmar,Yosouf Jami,Mobile money in Liberia
  robots: index, follow
scripts:
  - https://cdn.jsdelivr.net/npm/clipboard@2/dist/clipboard.min.js
  - https://code.jquery.com/jquery-3.2.1.min.js
  - https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.7/jquery.fullpage.js
  - ../js/vendor/modernizr-3.6.0.js
  - ../js/index.js
stylesheets:
  - https://fonts.googleapis.com/css?family=Montserrat:500
  - https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/css/foundation.min.css
  - https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.7/jquery.fullpage.css
  - ../scss/index.scss
title: CATALYZE FHI 360's 2017 Annual Report
uri: /
---

{{#extend "base"}}
  {{#content "right-sidebar"}}
    {{> TOC }} 
  {{/content}}
  {{#content "main"}}
    <nav id="up-down">
      <img data-moveup src="../img/icons/arrowup-icon.svg" />
      <img data-movedown src="../img/icons/arrowup-icon.svg" />
    </nav>
    <div id="fullpage">
      <!-- Intro Slide -->
      {{>sections/sectionintro}} 
      
      <!-- SECTION 0 -->
      {{>sections/section00}} 

      <!-- SECTION 1 # Profile: Jordan (slide 1) -->
      {{>sections/section01}} 
  
      <!-- SECTION 2 # Profile: Jordan (slide 2) -->
      {{>sections/section02}} 
  
      <!-- SECTION 3 # Example: HPTN -->
      {{>sections/section03}} 
  
      <!-- SECTION 4 # Profile: India/IVLP (slide 1) -->
      {{>sections/section04}} 
  
      <!-- SECTION 5 # Profile: India/IVLP (slide 2)-->
      {{>sections/section05}}
  
       <!-- SECTION 6 # Example: Sino-implant (II) -->
      {{>sections/section06}} 
  
      <!-- SECTION 7 # Profile: Succeed 2020 (slide 1) -->
      {{>sections/section07}} 
  
      <!-- SECTION 8 # Profile: Succeed 2020 (slide 2) -->
      {{>sections/section08}} 
  
      <!-- SECTION 9 # Example: TB -->
      {{>sections/section09}} 
      
      <!-- SECTION 10 # Profile: Tanzania -->
      {{>sections/section10}} 

      <!-- SECTION 11 # Example: Myanmar -->
      {{>sections/section11}} 

      <!-- SECTION 12 # Profile: Afghanistan (slide 1) -->
      {{>sections/section12}} 

      <!-- SECTION 13 # Profile: Afghanistan (slide 2) -->
      {{>sections/section13}} 

      <!-- SECTION 14 # Example: mSTAR -->
      {{>sections/section14
      }} 
      <!-- # Learn More -->
      {{>sections/section15}}
    </div>
  {{/content}}
{{/extend}}