---
alternates:
bodyclass:
language: en
meta:
  url: REPLACE ME WITH PRODUCTION URL
  title: FHI 360's 2018 Annual Report
  description: description
  keywords: FHI 360 Annual Report 2018
  robots: index, follow
scripts:
  - https://cdn.jsdelivr.net/npm/clipboard@2/dist/clipboard.min.js
  - https://code.jquery.com/jquery-3.2.1.min.js
  - https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.7/jquery.fullpage.js
  - ../js/vendor/modernizr-3.6.0.js
  - ../js/index.js
stylesheets:
  - https://fonts.googleapis.com/css?family=Montserrat:400,500,700
  - https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/css/foundation.min.css
  - https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.7/jquery.fullpage.css
  - ../scss/index.scss
title: FHI 360's 2018 Annual Report
uri: /
sectionData:
  - name: Intro
    image: RS11066_FHI - Challenge TB [Zambezia] 025-lpr.jpg
    caption: imageCaption caption
  - name: HL1
    image: High level 1_TOC.png
    caption: imageCaption caption
  - name: Ceo Letter
    image: DSC_0533_bw_web.jpg
    caption: imageCaption caption
  - name: TB (Zambia)
    title: State-of-the-art TB control
    subtitle: | 
                <h3>Linda Musonda</h3>
                <h3>Zambia</h3>
    photoCredit: Mbuto Machili/FHI 360
    image: TB_FHI360-Zambia[UTH]62_web.jpg
    caption: imageCaption caption
    toc:
        desktop: State-of-the-art TB control
        mobile: State-of-the-art TB control
        href: #one
        chapter: 1

  - name: SHIFT (Vietnam)
    title: Leading the way in financing the HIV response
    subtitle: <h3>Vietnam</h3>
    photoCredit: Vu Ngoc Dung/FHI 360
    image: SHIFT 8997_web.jpg
    caption: imageCaption caption
    toc:
        desktop: Leading the way in financing the HIV response
        mobile: Leading the way in financing the HIV response
        href: #one
        chapter: 2

  - name: Compass Rose (USA)
    title: Youth get a second chance
    subtitle: |
                <h3>Christopher C.</h3>
                <h3>United States</h3> 
    photoCredit: Leanne Gray/FHI 360
    image: Compass Rose_web.jpg
    caption: imageCaption caption
    toc:
        desktop: Youth get a second chance
        mobile: Youth get a second chance
        href: #one
        chapter: 3

  - name: Yemen
    title: An integrated response addresses urgent needs 
    subtitle: <h3>Yemen</h3>
    photoCredit: Andrew Renneisen/Stringer/Getty Image
    image: Yemen_GettyImages-1042306644_web.jpg
    caption: imageCaption caption
    toc:
        desktop: An integrated response addresses urgent needs
        mobile: An integrated response addresses urgent needs
        href: #one
        chapter: 4

  - name: HL2
    image: High level 2.png
    caption: imageCaption caption

  - name: Career Centers (Morocco)
    title: "You’re hired: 21st-century career centers"
    subtitle: | 
                <h3>Kenza Elbouazzaoui</h3>
                <h3>Morocco</h3>
    photoCredit: Amira Azzouzi/FHI 360
    image: Career Center_-36_web.jpg
    caption: imageCaption caption
    toc:
        desktop: "You’re hired: 21st-century career centers"
        mobile: "You’re hired: 21st-century career centers"
        href: #one
        chapter: 5

  - name: DREAMS (Zimbabwe)
    title: Girl power 
    subtitle: |
                <h3>Jane Nyathi</h3>
                <h3>Zimbabwe</h3>
    photoCredit: Leanne Gray/FHI 360
    image: Dreams 536_web.jpg
    caption: imageCaption caption
    toc:
        desktop: Girl power Jane Nyathi
        mobile: Girl power Jane Nyathi
        href: #one
        chapter: 6

  - name: NTD’s (Laos)
    title: Moving closer to wiping out neglected diseases
    subtitle: <h3>Laos</h3>
    photoCredit: Hadynyah/Getty Images
    image: NTDs_GettyImages-940751048_web.jpg
    caption: imageCaption caption
    toc:
        desktop: Moving closer to wiping out neglected diseases
        mobile: Moving closer to wiping out neglected diseases
        href: #one
        chapter: 7

  - name: RANA (Nigeria)
    title: Literacy improved through local language learning
    subtitle: <h3>Nigeria</h3>
    photoCredit: Kunle Lawal/FHI 360
    image: RANA 96_web.jpg
    caption: imageCaption caption
    toc:
        desktop: Literacy improved through local language learning
        mobile: Literacy improved through local language learning
        href: #one
        chapter: 8

  - name: HL3
    image: High level 3.png
    caption: imageCaption caption

  - name: Ventures
    title: FHI Ventures is launched to scale impact
    subtitle: 
    photoCredit: TBD
    image: ventures.jpeg
    caption: imageCaption caption
    toc:
        desktop: FHI Ventures is launched to scale impact
        mobile: FHI Ventures is launched to scale impact
        href: #one
        chapter: 9

  - name: CTI
    title: Groundbreaking contraceptive technologies
    subtitle:
    photoCredit: Leanne Gray/FHI 360
    image: CTI-microneedlepatch_web.jpg
    caption: imageCaption caption
    toc:
        desktop: Groundbreaking contraceptive technologies
        mobile: Groundbreaking contraceptive technologies
        href: #one
        chapter: 10

  - name: AMD (Ethiopia & Mozambique)
    title: Evidence to avert maternal and newborn deaths
    subtitle: <h3>Ethiopia and Mozambique</h3>
    photoCredit: © UNICEF Ethiopia/2013/Tsegaye
    image: Digital AMDD_8427009988_ba45a790c2_o_web.jpg
    caption: imageCaption caption
    toc:
        desktop: Evidence to avert maternal and newborn deaths
        mobile: Evidence to avert maternal and newborn deaths
        href: #one
        chapter: 11

  - name: Data Drives impact (Tanzania & Zanzibar)
    title: Data drives impact 
    subtitle: <h3>Tanzania and Zanzibar</h3>
    photoCredit: Sergio Somerville/FHI 360
    image: ar2018-m360-mobileapp_web.jpg
    caption: imageCaption caption
    toc:
        desktop: Data drives impact
        mobile: Data drives impact
        href: #one
        chapter: 12

  - name: HL4
    image: High level 4_video.png
    caption: imageCaption caption
    
  - name: Learn More

---

{{#extend "base"}}
  {{#content "right-sidebar"}}
          {{> TOC }} 
  {{/content}}
  {{#content "main"}}
    <nav id="up-down">
      <img data-moveup src="../img/icons/arrowup-icon.svg" />
      <img data-movedown src="../img/icons/arrowup-icon.svg" />
    </nav>
    <div id="fullpage">
      {{#each sectionData}}
        {{#eq  this.name "Intro" }}
          {{> sections/intro sectionIndex=@index }}
        {{/eq}}        
        {{#eq  this.name "HL1" }}
          {{> sections/hl1 sectionIndex=@index }}
        {{/eq}}
        {{#eq  this.name "Ceo Letter" }}
          {{> sections/ceo-letter sectionIndex=@index }}
        {{/eq}}
        {{#eq  this.name "TB (Zambia)" }}
          {{> sections/tb sectionIndex=@index }}
        {{/eq}}
        {{#eq  this.name "Career Centers (Morocco)" }}
          {{> sections/career-centers sectionIndex=@index }}
        {{/eq}}
        {{#eq  this.name "Compass Rose (USA)" }}
          {{> sections/compass-rose sectionIndex=@index }} 
        {{/eq}}
        {{#eq  this.name "Yemen" }}
          {{> sections/yemen sectionIndex=@index }}
        {{/eq}}
        {{#eq  this.name "HL2" }}
          {{> sections/hl2 sectionIndex=@index }}
        {{/eq}}
        {{#eq  this.name "SHIFT (Vietnam)" }}
          {{> sections/shift sectionIndex=@index }}
        {{/eq}}
        {{#eq  this.name "DREAMS (Zimbabwe)" }}
          {{> sections/dreams sectionIndex=@index }}
        {{/eq}}
        {{#eq  this.name "NTD’s (Laos)" }}
          {{> sections/ntds sectionIndex=@index }}
        {{/eq}}
        {{#eq  this.name "RANA (Nigeria)" }}
          {{> sections/rana sectionIndex=@index }}
        {{/eq}}
        {{#eq  this.name "HL3" }}
          {{> sections/hl3 sectionIndex=@index }}
        {{/eq}}
        {{#eq  this.name "Ventures" }}
          {{> sections/ventures sectionIndex=@index }}
        {{/eq}}
        {{#eq  this.name "CTI" }}
          {{> sections/cti sectionIndex=@index }}
        {{/eq}}
        {{#eq  this.name "AMD (Ethiopia & Mozambique)" }}
          {{> sections/digital-amdd sectionIndex=@index }}
        {{/eq}}
        {{#eq  this.name "Data Drives impact (Tanzania & Zanzibar)" }}
          {{> sections/dig-solution sectionIndex=@index }}
        {{/eq}}
        {{#eq  this.name "HL4" }}
          {{> sections/hl4 sectionIndex=@index }}
        {{/eq}}
        {{#eq  this.name "Learn More" }}
          {{> sections/learn-more sectionIndex=@index }}
        {{/eq}}
      {{/each}}
    </div>  
    {{/content}}
{{/extend}}