{{!-- accepts toggle value, title and HTML content --}}
    
<div class="leftDrawer" data-toggle="{{this.togleValue}}">
  <div class="grid-y grid-padding-x grid-padding-y">
    <section class="cell auto">
      <h1 class="drawer-title">{{this.title}}</h1>
      <div class="drawer-content">
        {{#block "drawer-content"}}
        {{/block}}
      </div>
    </section>
  </div>
</div>
