{{!-- accepts toggle value --}}
<div class="drawer-button_container" data-toggle="{{this.toggleValue}}">
    <img class="drawer-button align-self-middle m2" src="../img/icons/menu-button.svg" alt="">
    <img class="drawer-close-button align-self-middle m2" src="../img/icons/close-button.svg" alt="">
</div>
<div data-closedrawer></div>