{{#extend "elements/simple-section"}}
    {{#content "content"}}
        <h1>Test</h1>
        <p class="mb0">
            <strong class="uppercase">Chief Executive Officer, FHI 360</strong>
        </p>
    {{/content}}
        {{#content "drawer-title"}}
        Drawer Title
    {{/content}}
    {{#content "drawer-content"}}
        <p class="mb0">
            <strong class="uppercase">Drawer Content</strong>
        </p>
    {{/content}}
{{/extend}}