{{#extend "elements/simple-section" drawer=true}}
    {{#content "title"}}
        <strong class="uppercase">Chief Executive Officer, FHI 360</strong>
    {{/content}}
        {{#content "subtitle"}}
        <h2>Test</h2>
        <h2>Test</h2>
    {{/content}}
    {{#content "drawer-content"}}
        {{> drawerContent/ceo-message}}
    {{/content}}
{{/extend}}