{{#extend "elements/animated-section" drawer=false}}
    {{#content "content"}}
        <h2>We work hand-in-hand with our partners to create <span class="uppercase bold">healthier, safer and more prosperous</span> communities.</h2>
    {{/content}}
{{/extend}}