{{#extend "elements/animated-section" drawer=false}}
    {{#content "svg"}}
        <div class="video-container">
            <video 
                class="slide-video"
                src="../mp4/FHI 360 One Banner v2 1.1 JF.mp4"
                autoplay="true" muted="muted" loop="true"></video>
        </div>
    {{/content}}
    {{#content "content"}}
        {{> svg/svg-intro}}
    {{/content}}
{{/extend}}