<section class="section learnmore">
  <div class="bg-screen"></div>
  <div class="grid-y align-center" style="height: 100vh;">
    <div class="cell auto medium-9 grid-x p2">
      <div class="small-12 large-6 cell grid-y align-center align-middle" style="border-right: 1px solid #ddd;">
        <a href="https://www.fhi360.org/" target="_blank">
          <h2 class="uppercase">Learn more</h2>
        </a>
        <p class="p0 h4">Read about FHI 360 and our work</p>
      </div>
      <div class="small-12 large-6 cell grid-y align-center align-middle">
        <h2 class="uppercase">Share</h2>
        <div class="grid-x grid-padding-x align-middle">
          <a href="#" class="cell shrink" data-fb-share>
            <img width="30" height="30" src="../img/icons/fb-icon.svg" alt="share on facebook">
          </a>
          <a class="cell shrink" data-tw-share href="https://twitter.com/home?status=See Catalyst: REPLACEME.COM">
            <img width="30" height="30" src="../img/icons/twitter-icon.svg" alt="retweet">
          </a>
          <a data-li-share
            href="https://www.linkedin.com/shareArticle?mini=true&url=http://developer.linkedin.com&title=LinkedIn%20Developer%20Network &summary=My%20favorite%20developer%20program&source=LinkedIn"
            class="cell shrink">
            <img width="30" height="30" src="../img/icons/linkedin-icon.svg" alt="share on linkedin" />
          </a>
          <a href="#" class="cell shrink">
            <img width="30" height="30" src="../img/icons/link-icon.svg" data-copyurl alt="copy this link" data-clipboard-text="" />
          </a>
        </div>
      </div>
    </div>
    <div class="cell small-auto medium-3 text-center footer grid-y align-center">
      <p>
        <a href="http://www.google.com/search?strip=1&q=cache:www.sean-harrington.com/ar2018">
          View low-bandwidth text version.
        </a>
      </p>
      <p>Copyright 2018 FHI 360. All rights reserved. </p>
      <p>FHI 360 is the registered trade name of Family Health International.</p>
    </div>
  </div>
</section>