{{#extend "elements/simple-section"}}
<h1>Test</h1>
    {{#content "content"}}
        <p class="mb0">
            <strong class="uppercase">Chief Executive Officer, FHI 360</strong>
        </p>
    {{/content}}
    {{#content "drawer-content"}}
        <p class="mb0">
            <strong class="uppercase">Drawer Content</strong>
        </p>
    {{/content}}
{{/extend}}

{{!-- <section class="section" data-section="0">
                <div class="grid-x align-center inner-frame centered">
                    <div class="small-12 medium-8 cell grid-y align-justify">
                        <div class="text-center">
                            <p class="h3">A catalyst is the spark that transforms an idea into a solution.</p>
                            <br>
                            <p class="h3">
                                In this year’s annual report, we share how we are working with our partners to unleash
                                new ideas and opportunities and strengthen
                                our collective capacity to affect change.
                            </p>
                        </div>
                        <hr class="medium align-self-middle">
                        <div class="grid-x grid-padding-x align-center p2">
                            <div class="cell shrink">
                                <img src="../img/patrick-fine-headshot.jpg" alt="Patrick  C.  Fine  headshot"
                                    width="100" height="100">
                            </div>
                            <div class="cell shrink">
                                <div class="grid-y align-center" style="height: 100px;">
                                    <p class="h6 uppercase">A message from our CEO</p>
                                    <p class="h2 mb0">PATRICK C. FINE</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="drawer-button_container" data-toggle="0">
                    <img class="drawer-button align-self-middle m2" src="../img/icons/menu-button.svg" alt="">
                    <img class="drawer-close-button align-self-middle m2" src="../img/icons/close-button.svg" alt="">
                </div>
                <div data-closedrawer></div>
                <div class="leftDrawer" data-toggle="0">
                    <div class="grid-y grid-padding-x grid-padding-y">
                        <section class="cell auto">
                            <h1 class="drawer-title">A message from Patrick C. Fine</h1>
                            <div class="drawer-content">
                                <p class="mb0">
                                    <strong class="uppercase">Chief Executive Officer, FHI 360</strong>
                                </p>
                                <p>
                                    <img src="../img/slides/patrick-fine-headshot-small.jpg"
                                        alt="Patrick  C.  Fine  headshot" width="100" height="100"
                                        style="float: left;margin-right: 15px; width: 132px;"> When a catalyst is added,
                                    something special happens. In science, a catalyst ignites
                                    a chemical reaction. When applied to human development, a catalyst is the spark that
                                    transforms an idea into a solution.
                                </p>

                                <p>
                                    In this year’s annual report, we share some of the many ways FHI 360 is working with
                                    partners to catalyze positive change
                                    in the United States and around the world. Together, we are taking on some of the
                                    toughest
                                    human development challenges: curbing the spread of HIV and tuberculosis, improving
                                    nutrition
                                    and reducing stunting, preparing students for 21st-century jobs, helping small
                                    businesses
                                    grow, and more. Each collaboration unleashes new ideas and opportunities,
                                    strengthening
                                    our collective capacity to affect change. When the momentum gets going, change is
                                    unstoppable.
                                </p>

                                <p>
                                    While a catalyst remains unchanged by the chemical reaction it sets off, FHI 360
                                    staff in more than 60 countries around the
                                    world are profoundly affected by the work we do. We are always learning and
                                    searching
                                    for new ways to work smarter and to ensure that solutions are relevant, responsive
                                    and
                                    owned by those involved.
                                </p>

                                <p>
                                    As you read about people working to change their lives and the world — the beekeeper
                                    with a dream to expand her small business,
                                    the policymaker with a vision to bring good nutrition to everyone in his country,
                                    the
                                    educator committed to ensuring that students in her home state succeed — we hope you
                                    see how challenges that once seemed insurmountable are being overcome by charting
                                    new
                                    paths that accelerate results and expand opportunities.
                                </p>
                                <p>Warm regards,</p>
                                <p>Patrick C. Fine</p>
                                <p>Chief Executive Officer, FHI 360</p>
                                <p>
                                    <img src="../img/patrick-fine-signature-300x78.jpg" alt="">
                                </p>
                                <hr>
                                <p>Photo credit: Leanne Gray/FHI 360"</p>
                            </div>
                        </section>
                    </div>
                </div>
            </section> --}}