            <section class="section" data-section="14" data-toc="10">
                <div class="photo-credits">
                    <h6>
                        <span>Photo:</span>John O'Bryan/USAID (CC BY-ND 2.0)</h6>
                </div>
                <div class="bg objectfit-img">
                    <img data-src="http://sean-harrington.com/ar2018/img/slides/example-mstar-slide-original.jpg"
                        alt="A woman making mobile money transactions">
                </div>
                <div class="bg-screen purple"></div>
                <div class="grid-x inner-frame">
                    <div class="small-12 cell grid-y align-center">
                        <div class="cell shrink slide-title stagger-in grid-x">
                            <div class="cell medium-6 large-4">
                                <h2>Technology to drive better outcomes</h2>
                            </div>
                        </div>
                        <div class="cell shrink">
                            <hr class="invisible">
                        </div>
                        <div class="cell shrink slide-subtitle stagger-in">
                            <div class="grid-x grid-padding-x">
                                <div class="cell shrink">
                                    <img width="70" src="../img/icons/mobile-icon.svg" alt="">
                                </div>
                                <div class="cell auto">
                                    <p class="mb08">In Liberia, mobile money paid</p>
                                    <div class="grid-y">
                                        <div class="cell grid-x align-middle">
                                            <div class="counter h3">
                                                <span data-countup="3000">3000</span>+
                                                <label>school staff</label>
                                            </div>
                                            <div class="counter h3">
                                                <span data-countup="800">800</span>+
                                                <label>health care workers</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="drawer-button_container" data-toggle="14">
                    <img class="drawer-button align-self-middle m2" src="../img/icons/menu-button.svg" alt="">
                    <img class="drawer-close-button align-self-middle m2" src="../img/icons/close-button.svg" alt="">
                    <span class="h6 uppercase drawer-button_label">Learn More</span>
                </div>
                <div data-closedrawer></div>
                <div class="leftDrawer" data-toggle="14">
                    <div class="grid-y grid-padding-x grid-padding-y">
                        <section class="cell auto">
                            <h1 class="drawer-title">Technology to drive better outcomes</h1>
                            <div class="drawer-content">
                                <p>The potential for digital technologies to transform societies for the better and
                                    address
                                    some of the world’s most pressing challenges has never been greater. In Liberia and
                                    Ghana,
                                    <b>FHI 360 is using technology to collect data to improve the quality and timeliness
                                        of
                                        decision-making, deliver better program outcomes and improve accountability.
                                    </b>
                                </p>
                                <p>
                                    <b>Mobile payments = regular salaries</b>
                                </p>
                                <p>
                                    FHI 360, in partnership with the Liberian government, is transforming the way its
                                    school staff and health care workers are
                                    paid. In the past, school staff needed to leave work and travel long distances to
                                    collect
                                    their salaries, costing them time and money and causing them to be away from their
                                    classrooms.
                                    In July 2016, 67 school staff began receiving their pay digitally by mobile money,
                                    an
                                    easily accessible substitute for cash. By the end of 2017, that number had climbed
                                    to
                                    more than 3,000 school staff and 800 health care workers in nearly all of Liberia’s
                                    counties.
                                    The Government of Liberia also benefits: It can distribute salaries more efficiently
                                    and transparently.
                                </p>
                                <hr>
                                <p>
                                    Project:
                                    <a href="https://www.fhi360.org/projects/mobile-solutions-technical-assistance-and-research-mstar"
                                        target="_blank">Mobile Solutions Technical Assistance and Research (mSTAR)</a>
                                </p>
                                <p>
                                    Funder: USAID"
                                </p>
                                <h1 class="drawer-title">Real-time data collection = better service delivery </h1>
                                <p>"In all ten regions of Ghana, more than 820 circuit supervisors within the Ghana
                                    Education
                                    Service have been trained to use a mobile system to collect data on an early grade
                                    reading
                                    program, twice per term from 7,278 schools. FHI 360 provided each supervisor with a
                                    tablet
                                    and a SIM card to collect and transmit the data. Collection is done by custom
                                    observation,
                                    interview and assessment forms designed to run on an open source software that
                                    allows
                                    data to be entered offline anywhere and stored on an Android device until an
                                    internet
                                    connection is available. The large volume of data feeds into three online dashboards
                                    that allow rapid analysis and visualization. With these dashboards, the Ministry of
                                    Education
                                    and the Ghana Education Service officials, district teacher support teams and the
                                    Ministry’s
                                    development partners can see what is working well and what problems need to be
                                    solved.
                                    Data verifies factors such as whether teaching and learning materials actually
                                    arrive
                                    and are used at schools and which schools are not on pace to meet teaching and
                                    learning
                                    objectives. Support and coaching is then targeted at schools where it is needed most
                                    and tailored to teachers’ needs.
                                </p>
                                <hr>
                                <p>
                                    Project:
                                    <a href="https://www.fhi360.org/projects/usaid-ghana-partnership-education-learning"
                                        target="_blank">USAID Ghana Partnership for Education: Learning</a>
                                </p>
                                <p>
                                    Funder: USAID"
                                </p>
                            </div>
                        </section>
                    </div>
                </div>
                <div class="photo-credit-container">
                    <div class="photo-credit-trigger grid-x grid-padding-x align-middle">
                        <span class="cell shrink">Photo credit</span>
                        <img src="../img/icons/down-chevron.svg" alt="">
                    </div>
                </div>
            </section>