            <section class="section" data-section="5" data-toc="3">
                <div class="photo-credits">
                    <h6>
                        <span>Photo:</span>Vivek Singh/The Verbatim Agency for FHI 360</h6>
                </div>
                <div class="bg objectfit-img">
                    <img src="../img/slides/profile-india-slide2-original.jpg"
                        alt="A busy public square in New Delhi, India">
                </div>
                <div class="bg-screen"></div>
                <div class="grid-x inner-frame">
                    <div class="small-12 large-8 cell grid-y align-center">
                        <div class="cell shrink slide-title stagger-in">
                            <h2>“My exposure to the U.S. environment showed me how to bring in the right people to work
                                to achieve
                                scale.”
                            </h2>
                        </div>
                        <div class="cell shrink stagger-in">
                            <hr class="small">
                        </div>
                        <div class="cell shrink slide-subtitle stagger-in">
                            <h3>Yatin Thakur,</h3>
                            <h3>Entrepreneur, India</h3>
                        </div>
                    </div>
                </div>
                <div class="photo-credit-container">
                    <div class="photo-credit-trigger grid-x grid-padding-x align-middle">
                        <span class="cell shrink">Photo credit</span>
                        <img src="../img/icons/down-chevron.svg" alt="">
                    </div>
                </div>
            </section>