            <section class="section" data-section="13" data-toc="9">
                <div class="photo-credits">
                    <h6>
                        <span>Photo:</span>Kiana Hayeri/The Verbatim Agency for FHI 360</h6>
                </div>
                <div class="bg objectfit-img">
                    <img data-src="http://sean-harrington.com/ar2018/img/slides/profile-afghanistan-slide2-original.jpg"
                        alt="The exterior of Herat University in Afghanistan, with female students walking towards the building">
                </div>
                <div class="bg-screen dark"></div>
                <div class="grid-x inner-frame">
                    <div class="small-12 cell grid-y align-center">
                        <div class="cell shrink slide-title stagger-in grid-x">
                            <div class="cell medium-8 large-8">
                                <h2>“This department is the first food technology program in our country.”</h2>
                            </div>
                        </div>
                        <div class="cell shrink stagger-in">
                            <hr class="small">
                        </div>
                        <div class="cell shrink slide-subtitle stagger-in">
                            <h3>Yosouf Jami,</h3>
                            <h3>University dean, Afghanistan</h3>
                        </div>
                    </div>
                </div>
                <div class="photo-credit-container">
                    <div class="photo-credit-trigger grid-x grid-padding-x align-middle">
                        <span class="cell shrink">Photo credit</span>
                        <img src="../img/icons/down-chevron.svg" alt="">
                    </div>
                </div>
            </section>