           <section class="section intro">
                <div class="grid-x align-center align-middle">
                    <div class="intro-header skip-intro">
                        <span>How do we</span>
                        <br />
                        <span id="words">
                            <span style="opacity: 0; position: absolute;">improve lives?</span>
                        </span>
                    </div>
                    <div class="catalyst move-next grid-y align-middle align-center">
                        <div class="cell auto">
                            <div class="catalyst-ants">
                                <svg width="1280" height="800" viewBox="0 0 1280 800">
                                    <symbol id="s-text">
                                        <text text-anchor="middle" x="50%" y="50%" class="text--line">
                                            CATALYZE
                                        </text>
                                    </symbol>
                                    <g class="g-ants">
                                        <use xlink:href="#s-text" class="text-copy"></use>
                                        <use xlink:href="#s-text" class="text-copy"></use>
                                        <use xlink:href="#s-text" class="text-copy"></use>
                                        <use xlink:href="#s-text" class="text-copy"></use>
                                        <use xlink:href="#s-text" class="text-copy"></use>
                                    </g>
                                    <circle id="orange_dot" data-name="orange dot" cx="640" cy="400" r="10"
                                        style="fill: #f27321" />
                                    <g id="cat_subtitle" data-name="cat subtitle">
                                        <g>
                                            <path
                                                d="M518.22,464.48c1.36-1.44,2.88-3.07,2.88-5.16a2.75,2.75,0,0,0-2.41-3.05,3.42,3.42,0,0,0-.64,0,6,6,0,0,0-3.53,1.4v-1.25a6.31,6.31,0,0,1,3.58-1.32c2.47,0,4.34,1.46,4.34,4.08s-1.78,4.37-2.81,5.45l-3.91,4.05h7v1.18h-8.59V468.8Z"
                                                style="fill: #fff" />
                                            <path
                                                d="M533.31,455.1c3,0,5.28,2.83,5.28,7.56s-2.3,7.56-5.28,7.56-5.28-2.81-5.28-7.56S530.36,455.1,533.31,455.1Zm0,1.15c-2.28,0-4,2.33-4,6.41s1.68,6.41,4,6.41,4-2.31,4-6.41S535.59,456.25,533.31,456.25Z"
                                                style="fill: #fff" />
                                            <path d="M543.65,456.9v-1l2.81-.7v14.62h-1.27v-13Z" style="fill: #fff" />
                                            <path
                                                d="M552.13,456.63v-1.17h9.07v.74c-1.22,1.85-4.9,9-5.71,13.66H554a57.36,57.36,0,0,1,5.62-13.23Z"
                                                style="fill: #fff" />
                                            <path
                                                d="M573.7,469.86h-1.37l6-14.4h1.08l6,14.4H584l-1.73-4.18H575.5Zm5.07-12.43-2.88,7.08h5.78Z"
                                                style="fill: #fff" />
                                            <path
                                                d="M591.22,455.46l8.71,11.74V455.46h1.25v14.4h-.91l-8.71-11.74v11.74h-1.25v-14.4Z"
                                                style="fill: #fff" />
                                            <path
                                                d="M608.33,455.46l8.72,11.74V455.46h1.24v14.4h-.91l-8.71-11.74v11.74h-1.25v-14.4Z"
                                                style="fill: #fff" />
                                            <path
                                                d="M624.53,455.46h1.32v7.75c0,4,1.85,5.79,4.64,5.79s4.65-1.8,4.65-5.79v-7.75h1.32v7.73c0,4.85-2.4,7-6,7s-6-2.18-6-7Z"
                                                style="fill: #fff" />
                                            <path
                                                d="M641.86,469.86h-1.37l6-14.4h1.08l6,14.4H652l-1.73-4.18h-6.75Zm5.07-12.43-2.88,7.08h5.78Z"
                                                style="fill: #fff" />
                                            <path d="M659.79,455.46v13.22h6.84v1.18h-8.16v-14.4Z" style="fill: #fff" />
                                            <path
                                                d="M688.59,469.86H687l-4.13-5.95h-3v5.95h-1.32v-14.4H683c3.1,0,4.44,2,4.44,4.22a3.85,3.85,0,0,1-3.17,4.08Zm-2.45-10.18a2.82,2.82,0,0,0-2.56-3.06,3.49,3.49,0,0,0-.56,0h-3.14v6.1H683a2.81,2.81,0,0,0,3.13-2.45A2.41,2.41,0,0,0,686.14,459.68Z"
                                                style="fill: #fff" />
                                            <path
                                                d="M701.84,455.46v1.17H695v5.07h5.64v1.18H695v5.8h6.84v1.18h-8.16v-14.4Z"
                                                style="fill: #fff" />
                                            <path
                                                d="M712.06,455.46a4.35,4.35,0,0,1,.42,8.69,2.94,2.94,0,0,1-.42,0h-3.14v5.71H707.6v-14.4Zm3.12,4.34a2.91,2.91,0,0,0-2.61-3.17h-3.65V463h3.14a2.89,2.89,0,0,0,3.13-2.63A3.62,3.62,0,0,0,715.18,459.8Z"
                                                style="fill: #fff" />
                                            <path
                                                d="M728.5,455.1a7.56,7.56,0,1,1-7.37,7.75v-.19a7.23,7.23,0,0,1,6.91-7.55Zm0,1.22c-3.48,0-6,2.55-6,6.34s2.52,6.34,6,6.34,6-2.55,6-6.34S731.93,456.32,728.5,456.32Z"
                                                style="fill: #fff" />
                                            <path
                                                d="M751.44,469.86h-1.55l-4.13-5.95h-3v5.95h-1.32v-14.4h4.47c3.09,0,4.44,2,4.44,4.22a3.86,3.86,0,0,1-3.17,4.08ZM749,459.68a2.82,2.82,0,0,0-2.56-3.06,3.49,3.49,0,0,0-.56,0h-3.15v6.1h3.15a2.8,2.8,0,0,0,3.11-2.47A2.25,2.25,0,0,0,749,459.68Z"
                                                style="fill: #fff" />
                                            <path d="M754.56,456.63v-1.17h11.6v1.17H761v13.23h-1.3V456.63Z"
                                                style="fill: #fff" />
                                        </g>
                                    </g>
                                </svg>
                            </div>
                        </div>
                        <div id="intro-chevron">
                            <img width="100" src="../img/large-chevron-down.svg" alt="">
                        </div>
                    </div>
                </div>
            </section>