            <section class="section" data-section="9" data-toc="6">
                <div class="photo-credits">
                    <h6>
                        <span>Photo:</span>Jessica Scranton/FHI 360</h6>
                </div>
                <div class="bg objectfit-img">
                    <img data-src="http://sean-harrington.com/ar2018/img/slides/example-tb-slide-original.jpg"
                        alt="An older couple in Mozambique smiling with their arms around each other">
                </div>
                <div class="bg-screen purple"></div>
                <div class="grid-x inner-frame">
                    <div class="small-12 medium-6 large-5 cell grid-y align-center">
                        <div class="cell shrink slide-title stagger-in">
                            <h2>Bringing TB prevention and care into communities in Mozambique</h2>
                        </div>
                        <div class="cell shrink">
                            <hr class="invisible">
                        </div>
                        <div class="cell shrink slide-subtitle stagger-in">
                            <h3>In some provinces, TB detection
                                <br>through CB-DOTS has increased to</h3>
                        </div>
                        <div class="grid-x align-middle stagger-in">
                            <div class="cell shrink" style="padding-right: 20px;">
                                <img width="36" src="../img/icons/arrowup-icon.svg" alt="">
                            </div>
                            <div class="cell shrink">
                                <div class="counter h3">
                                    <span data-countup="36" data-countstart="12">36</span>%
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="drawer-button_container" data-toggle="9">
                        <img class="drawer-button align-self-middle m2" src="../img/icons/menu-button.svg" alt="">
                        <img class="drawer-close-button align-self-middle m2" src="../img/icons/close-button.svg"
                            alt="">
                        <span class="h6 uppercase drawer-button_label">Learn More</span>
                    </div>
                    <div data-closedrawer></div>
                    <div class="leftDrawer" data-toggle="9">
                        <div class="grid-y grid-padding-x grid-padding-y">
                            <section class="cell auto">
                                <h1 class="drawer-title">Bringing TB prevention and care into communities in Mozambique
                                </h1>
                                <div class="drawer-content">
                                    <p>Tuberculosis (TB) is one of 10 leading causes of death worldwide: 1.7 million
                                        people
                                        died from the disease in 2016, according to the World Health Organization. TB is
                                        also treatable — and curable — but highly contagious. About 40 percent of TB
                                        cases
                                        worldwide are not treated by health systems and are defined as “missing.”
                                        Finding
                                        those missing cases is critical to TB control.
                                    </p>
                                    <p>
                                        In Mozambique, where the number of new cases of TB remains high — 551 in 100,000
                                        people infected each year —
                                        <b>FHI 360 is using CB-DOTS (community-based directly‐observed treatment, short
                                            course)
                                            to combat the disease in four provinces that account for 49 percent of the
                                            national
                                            TB burden: Nampula, Sofala, Tete and Zambézia.</b> Between 2015 and 2017,
                                        the
                                        proportion of TB patients detected through CB-DOTS activities increased from 12
                                        percent
                                        to 36 percent of all TB patients detected in these provinces.
                                    </p>
                                    <p>
                                        The CB-DOTS strategy involves training community health workers to increase
                                        awareness, detection and treatment of TB and
                                        brings services directly to the homes of those at risk for infection. Health
                                        workers
                                        observe patients swallowing each dose for six months and record and report cases
                                        and treatment outcomes. In addition, they encourage patients suspected of having
                                        TB to go to health units, where they are given sputum-smear microscopy tests,
                                        which
                                        increases early case detection and diagnosis. All family members are screened
                                        for
                                        TB and referred to appropriate treatment services.
                                    </p>
                                    <p>
                                        In these most-affected provinces, FHI 360 convenes “monthly cough days,” where
                                        health facility teams visit remote areas to
                                        provide TB screening, specimen collection and other health services. Cough
                                        officers
                                        at health facilities are trained to identify patients and refer them to TB
                                        clinics.
                                        Guards and inmates at prisons, where TB is prevalent and spreads rapidly, are
                                        trained
                                        to detect cases and connect individuals to health services.
                                    </p>
                                    <p>
                                        The CB-DOTS strategy also focuses on political commitment by national
                                        governments, which is central to implementing national
                                        TB strategies and programs. Tools and activities developed by FHI 360 are now
                                        being
                                        used by other health service providers in additional provinces in Mozambique as
                                        part
                                        of a national scale-up effort.
                                    </p>
                                    <hr>
                                    <p>

                                        Project:
                                        <a href="https://www.fhi360.org/projects/challenge-tb" target="_blank">Challenge
                                            TB</a>
                                    </p>
                                    <p>
                                        Funder: USAID
                                    </p>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
                <div class="photo-credit-container">
                    <div class="photo-credit-trigger grid-x grid-padding-x align-middle">
                        <span class="cell shrink">Photo credit</span>
                        <img src="../img/icons/down-chevron.svg" alt="">
                    </div>
                </div>
            </section>