            <section class="section" data-section="12" data-toc="9" data-parallax="zoom3">
                <div class="photo-credits">
                    <h6>
                        <span>Photo:</span>Kiana Hayeri/The Verbatim Agency for FHI 360</h6>
                </div>
                <div class="bg objectfit-img">
                    <img class="back"
                        data-src="http://sean-harrington.com/ar2018/img/slides/profile-afghanistan-slide1-original.jpg"
                        alt="A group of students and Dean Yosouf Jami inside the food technology lab at Herat University">
                </div>
                <div class="bg-screen black"></div>
                <div class="grid-x inner-frame">
                    <div class="small-12 medium-6 large-5 cell grid-y align-center">
                        <div class="cell shrink slide-title stagger-in">
                            <h2>University degree program prepares Afghan students for tomorrow's jobs</h2>
                        </div>
                        <div class="cell shrink stagger-in">
                            <hr class="small">
                        </div>
                        <div class="cell shrink slide-subtitle stagger-in">
                            <h3>Yosouf Jami,</h3>
                            <h3>University dean, Afghanistan</h3>
                        </div>
                    </div>
                </div>
                <div class="drawer-button_container" data-toggle="12">
                    <img class="drawer-button align-self-middle m2" src="../img/icons/menu-button.svg" alt="">
                    <img class="drawer-close-button align-self-middle m2" src="../img/icons/close-button.svg" alt="">
                    <span class="h6 uppercase drawer-button_label">Read Story</span>
                </div>
                <div data-closedrawer></div>
                <div class="leftDrawer" data-toggle="12">
                    <div class="grid-y grid-padding-x grid-padding-y">
                        <section class="cell auto">
                            <h1 class="drawer-title">University degree program prepares Afghan students for tomorrow’s
                                jobs</h1>
                            <div class="drawer-content">
                                <p>
                                    <img src="../img/drawer/profile-afghanistan-drawer-original.jpg"
                                        alt="Three female students filling a test tube inside the food technology lab at Herat University">
                                </p>
                                <p>Decades-long conflict has stunted economic growth and development in Afghanistan. To
                                    rebuild
                                    their country and fully participate in its workforce, Afghans need access to quality
                                    higher education and vocational training that responds to the needs of employers and
                                    the realities of the job market.
                                </p>
                                <p>
                                    <b>The University Support and Workforce Development Program (USWDP), in partnership
                                        with
                                        Purdue University, is helping to link education programs to jobs by establishing
                                        a market-oriented bachelor degree program in food technology at the Herat
                                        University
                                        Faculty of Agriculture (HUFA).</b> In 2017, 15 third-year students from existing
                                    departments transferred into the new food technology department.
                                </p>
                                <p>
                                    <b>A breakthrough in food technology education</b>
                                </p>
                                <p>
                                    “This department is the first food technology program in our country,” said Yosouf
                                    Jami, dean of HUFA, which is in western
                                    Afghanistan close to the border with Iran. “Graduates in this field can serve at the
                                    agriculture directorate and health department, work for companies in the food
                                    industry
                                    or go into other food-related areas.”
                                </p>
                                <p>
                                    Food technologists use science to create and improve food products. The HUFA
                                    curriculum covers the fundamentals of food technology
                                    while teaching applied, practical skills in food processing, food safety and product
                                    development. Upon graduation, students will receive help finding jobs. More than
                                    half
                                    of this year’s students are female, and the university is making plans to ensure
                                    that
                                    the next group of students has a similar gender balance.
                                </p>
                                <p>
                                    HUFA, Purdue University and USWDP developed the food technology program in close
                                    consultation with representatives of the
                                    food processing industry. The curriculum takes into account the unique challenges
                                    faced
                                    by Afghan companies and the skills graduates need to support food production and
                                    processing.
                                </p>
                                <p>
                                    “A lack of skilled employees is our biggest challenge in this sector,” explained
                                    Jami. Until now, people outside Afghanistan
                                    were needed for technical assistance. “We hope that graduates of this department
                                    will
                                    be able to meet industry needs. This is a major educational necessity in our
                                    country.”
                                </p>
                                <p>
                                    USWDP and Purdue University have worked closely since 2015 to design and implement
                                    the program. USWDP has taught students
                                    about basic research survey methodologies and supplied materials, such as the
                                    equipment
                                    and chemicals needed to establish a teaching laboratory. Members of the Purdue food
                                    science
                                    faculty visit regularly to provide training and assistance, and HUFA’s faculty have
                                    visited
                                    Purdue twice for intensive skills building in lab techniques. USWDP and Purdue are
                                    jointly
                                    supporting four HUFA faculty to obtain master’s degrees in food technology in India.
                                    These faculty expect to complete their studies in July 2018 and will return to
                                    assume
                                    leadership and teaching responsibilities in the food technology department. Jami is
                                    optimistic
                                    about the impact of this young program. “The food industry and other organizations
                                    will
                                    benefit,” said Jami. “When students graduate and enter society, they will bring the
                                    benefits
                                    from their recent study, and the industry will benefit from their professional
                                    knowledge
                                    and skills.”
                                </p>
                                <p>
                                    <b>A smaller part of a larger effort</b>
                                </p>
                                <p>
                                    Eleven universities receive technical and financial support from USWDP, including
                                    the food technology program at Herat. Since
                                    it began four years ago, USWDP has established or supported 32 degree programs,
                                    including
                                    five newly established associate degrees, 18 bachelor’s degrees and eight master’s
                                    degrees.
                                    These programs, supported by the University of Massachusetts and other academic
                                    institutions
                                    in the U.S., provide students with some of the most sought-after degrees in
                                    Afghanistan.
                                    Examples of degree offerings include an associate’s degree in information
                                    technology,
                                    a bachelor’s degree in oil and gas and a master’s degree in education leadership and
                                    management. These programs are bringing the country closer to creating a technically
                                    qualified, professionally capable workforce.
                                </p>
                                <hr>
                                <p>
                                    Project:
                                    <a href="https://www.fhi360.org/projects/university-support-and-workforce-development-program"
                                        target="_blank">University Support and Workforce Development Program</a>
                                </p>
                                <p>
                                    Funder: USAID, Government of Afghanistan
                                </p>
                                <p>
                                    Web title: University dean
                                </p>
                                <hr>
                                <p>
                                    Photo credit: Kiana Hayeri/The Verbatim Agency for FHI 360
                                </p>
                            </div>
                        </section>
                    </div>
                </div>
                <div class="photo-credit-container">
                    <div class="photo-credit-trigger grid-x grid-padding-x align-middle">
                        <span class="cell shrink">Photo credit</span>
                        <img src="../img/icons/down-chevron.svg" alt="">
                    </div>
                </div>
            </section>