            <section class="section" data-section="3" data-toc="2">
                <div class="photo-credits">
                    <h6>
                        <span>Photo:</span>Jessica Scranton/FHI 360</h6>
                </div>
                <div class="bg objectfit-img">
                    <img src="../img/slides/example-hptn-slide-original.jpg"
                        alt="Close-up of a medical worker doing an HIV finger prick test">
                </div>
                <div class="bg-screen purple"></div>
                <div class="grid-x inner-frame">
                    <div class="small-12 medium-6 large-6 cell grid-y align-center">
                        <div class="cell shrink slide-title stagger-in">
                            <h2>Long-acting injection shows promise for HIV prevention</h2>
                        </div>
                        <div class="cell shrink">
                            <hr class="invisible">
                        </div>
                        <div class="cell shrink slide-subtitle stagger-in">
                            <div class="grid-x grid-padding-x align-middle">
                                <div class="cell shrink">
                                    <img width="60" src="../img/icons/syringe-icon.svg" alt="">
                                </div>
                                <div class="cell auto medium-8">
                                    <h3>Injectable cabotegravir may be an alternative to a daily dose of Truvada ® for
                                        PrEP</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="drawer-button_container" data-toggle="3">
                    <img class="drawer-button align-self-middle m2" src="../img/icons/menu-button.svg" alt="">
                    <img class="drawer-close-button align-self-middle m2" src="../img/icons/close-button.svg" alt="">
                    <span class="h6 uppercase drawer-button_label">Learn More</span>
                </div>
                <div data-closedrawer></div>
                <div class="leftDrawer" data-toggle="3">
                    <div class="grid-y grid-padding-x grid-padding-y">
                        <section class="cell auto">
                            <h1 class="drawer-title">Long-acting injection shows promise for HIV prevention</h1>
                            <div class="drawer-content">
                                <p>One of the greatest barriers to ensuring that antiretroviral drugs for pre-exposure
                                    prophylaxis
                                    (PrEP) are effective in people who are at higher risk of acquiring HIV is the need
                                    to
                                    take a pill for PrEP every day consistently. Making progress on ending the global
                                    HIV
                                    epidemic hinges on providing multiple options for HIV prevention, especially options
                                    that do not require daily regimens.
                                </p>
                                <p>
                                    FHI 360 serves as the Leadership and Operations Center for the HIV Prevention Trials
                                    Network (HPTN), a global, collaborative,
                                    clinical trials network that develops and tests the safety and efficacy of HIV
                                    prevention
                                    interventions. HPTN launched the first global trial of cabotegravir (
                                    <a href="https://www.hptn.org/news-and-events/press-releases/long-acting-injectable-cabotegravir-for-prep-well-tolerated-hptn-077"
                                        target="_blank">HPTN 077</a>), a long-acting injectable drug for PrEP, in 2015.
                                    <b>HPTN 077 study data released in 2017 showed that injectable cabotegravir is safe
                                        and
                                        well-tolerated, and the study dose stays in the bloodstream at levels expected
                                        to
                                        be protective when injections are administered every eight weeks.</b> The study
                                    and
                                    data analysis will continue until July 2018.
                                </p>
                                <p>
                                    Long-acting injectable cabotegravir could provide an easier, more practical
                                    alternative to the current regimen of daily oral
                                    tenofovir disoproxil fumarate/emtricitabine for PrEP. This option could help bring
                                    us
                                    closer to controlling the HIV epidemic.
                                </p>
                                <hr>
                                <p>

                                    Project:
                                    <a href="https://www.fhi360.org/projects/hiv-prevention-trials-network-hptn-leadership-and-operations-center"
                                        target="_blank">HIV Prevention Trials Network (HPTN), Leadership and Operations
                                        Center</a>
                                </p>
                                <p>
                                    Funder: U.S. National Institutes of Health (National Institute of Allergy and
                                    Infectious Diseases)
                                </p>
                            </div>
                        </section>
                    </div>
                </div>
                <div class="photo-credit-container">
                    <div class="photo-credit-trigger grid-x grid-padding-x align-middle">
                        <span class="cell shrink">Photo credit</span>
                        <img src="../img/icons/down-chevron.svg" alt="">
                    </div>
                </div>
            </section>