            <section class="section" data-section="10" data-toc="7" data-parallax="zoom4">
                <div class="photo-credits">
                    <h6>
                        <span>Photo:</span>Leanne Gray/FHI 360</h6>
                </div>
                <div class="bg objectfit-img top">
                    <img class="back"
                        data-src="http://sean-harrington.com/ar2018/img/layers/profile-tanzania-slide-bg.jpg"
                        alt="Obey Assery standing in front of the Tanzanian flag">
                    <img class="fore"
                        data-src="http://sean-harrington.com/ar2018/img/layers/profile-tanzania-slide-fg.png"
                        alt="Obey Assery standing in front of the Tanzanian flag">
                </div>
                <div class="bg-screen black"></div>
                <div class="grid-x inner-frame">
                    <div class="small-12 medium-6 large-5 cell grid-y align-center">
                        <div class="cell shrink slide-title stagger-in">
                            <h2>A multisectoral approach transforms nutrition in Tanzania</h2>
                        </div>
                        <div class="cell shrink stagger-in">
                            <hr class="small">
                        </div>
                        <div class="cell shrink slide-subtitle stagger-in">
                            <h3>Obey Assery,</h3>
                            <h3>Policymaker, Tanzania</h3>
                        </div>
                    </div>
                </div>
                <div class="drawer-button_container" data-toggle="10">
                    <img class="drawer-button align-self-middle m2" src="../img/icons/menu-button.svg" alt="">
                    <img class="drawer-close-button align-self-middle m2" src="../img/icons/close-button.svg" alt="">
                    <span class="h6 uppercase drawer-button_label">Read Story</span>
                </div>
                <div data-closedrawer></div>
                <div class="leftDrawer" data-toggle="10">
                    <div class="grid-y grid-padding-x grid-padding-y">
                        <section class="cell auto">
                            <h1 class="drawer-title">A multisectoral approach transforms nutrition in Tanzania</h1>
                            <div class="drawer-content">
                                <p>Although Tanzania has seen notable improvements in nutrition over the last decade,
                                    undernutrition
                                    remains pervasive: 34 percent of children under 5 years of age are stunted and 14
                                    percent
                                    are underweight.
                                </p>
                                <p>
                                    Armed with this information, the Government of Tanzania and its partners have
                                    mobilized to improve nutrition and greatly
                                    reduce stunting.
                                    <b>With support from the Food and Nutrition Technical Assistance III (FANTA)
                                        project, Tanzania
                                        has adopted an evidence-based, multisectoral, nutrition action plan that breaks
                                        new
                                        ground in the country and can serve as a model for nutrition policy
                                        globally.</b>
                                </p>
                                <p>
                                    <b>Breaking silos, widening the scope</b>
                                </p>
                                <p>
                                    Obey Assery, a trained economist and the Director of the Coordination of Government
                                    Business Department in the Prime Minister’s
                                    Office, played a pivotal role in building support for a more comprehensive approach
                                    to
                                    improving nutrition.
                                </p>
                                <p>
                                    “Nutrition was initially only really looked at as a health initiative,” said Assery,
                                    who worked in close collaboration with
                                    FANTA to strengthen and align government efforts on nutrition reform. “It’s now
                                    become
                                    a multisectoral issue, which requires everyone to be involved.”
                                </p>
                                <p>
                                    This change did not come quickly. Political commitment was essential to shift
                                    mindsets, and it took a concerted effort to
                                    increase awareness of the effects of malnutrition on national development and the
                                    need
                                    for multiple sectors to address it. Not only does malnutrition lead to
                                    underperformance
                                    in school, it reduces participation in the workforce and undermines economic growth
                                    and
                                    productivity, stunting not just individuals, but a country’s overall development.
                                </p>
                                <p>
                                    FANTA’s approach focused on supporting the Prime Minister’s Office and the Tanzania
                                    Food and Nutrition Centre to build individual
                                    and institutional capacity, mentor leaders, foster relations with community groups
                                    and
                                    strengthen coordination across sectors to increase the sustainability of nutrition
                                    programs.
                                    These efforts resulted in policy revisions and the launch of Tanzania’s first
                                    five-year
                                    Multisectoral Nutrition Action Plan (2016–2021).
                                </p>
                                <p>
                                    “We put together technical people from different sectors with a common agenda,” says
                                    Assery. “This meant bringing in the
                                    people from agriculture, from livestock, from water, from finance — people with
                                    different
                                    thinking to widen the scope and work together.”
                                </p>
                                <p>
                                    The FANTA project has also integrated and systematically scaled up nutrition
                                    assessment, counseling and support (NACS) into
                                    national strategies, local government plans, budgets and program guidelines; routine
                                    health service delivery; community-based programs; and HIV care and treatment,
                                    prevention
                                    of mother-to-child transmission and most-vulnerable children programs. Health
                                    managers,
                                    health care providers and community workers have been trained in the NACS approach.
                                    Training,
                                    job aids, practical assessment tools, registers, and monitoring and evaluation forms
                                    for service providers have been developed and distributed. By mid- 2017, NACS
                                    services
                                    were integrated into health facilities and community services in 22 of mainland
                                    Tanzania’s
                                    26 regions.
                                </p>
                                <p>
                                    <b>Healthier, more productive citizens</b>
                                </p>
                                <p>
                                    Using PROFILES, an evidenced-based model, FANTA led a multisectoral stakeholder
                                    process to estimate the impact of malnutrition
                                    on human capital, economic productivity and health outcomes. The estimates show that
                                    investing to reach nutrition targets over a ten-year period (2014–2025) will save
                                    hundreds
                                    of thousands of lives, reduce disabilities and result in significant economic gains
                                    in
                                    Tanzania.
                                </p>
                                <p>
                                    Tanzania was one of the first countries to put the NACS approach into operation and
                                    to emphasize a multisectoral approach
                                    to tackling nutrition problems. Says Assery, “Other countries are now seeking
                                    Tanzania’s
                                    help in creating models they can use to address similar issues and achieve similar
                                    results.”
                                </p>
                                <hr>
                                <p>
                                    Project:
                                    <a href="https://www.fhi360.org/projects/food-and-nutrition-technical-assistance-iii-project-fanta"
                                        target="_blank">Food and Nutrition Technical Assistance III (FANTA)</a>
                                </p>
                                <p>Funder: USAID
                                </p>
                                <p>
                                    Web title: Policymaker
                                </p>
                            </div>
                        </section>
                    </div>
                </div>
                <div class="photo-credit-container">
                    <div class="photo-credit-trigger grid-x grid-padding-x align-middle">
                        <span class="cell shrink">Photo credit</span>
                        <img src="../img/icons/down-chevron.svg" alt="">
                    </div>
                </div>
            </section>