            <section class="section" data-section="7" data-toc="5" data-parallax="zoom3">
                <div class="photo-credits">
                    <h6>
                        <span>Photo:</span>Leanne Gray/FHI 360</h6>
                </div>
                <div class="bg objectfit-img">
                    <img class="back"
                        data-src="http://sean-harrington.com/ar2018/img/slides/profile-succeed2020-slide1-original.jpg"
                        alt="Jennifer Carlson standing in a school hallway">
                </div>
                <div class="bg-screen black"></div>
                <div class="grid-x inner-frame">
                    <div class="small-12 medium-6 large-4 cell grid-y align-center">
                        <div class="cell shrink slide-title stagger-in">
                            <h2>Data drives student success in America's heartland</h2>
                        </div>
                        <div class="cell shrink stagger-in">
                            <hr class="small">
                        </div>
                        <div class="cell shrink slide-subtitle stagger-in">
                            <h3>Jennifer Carlson,</h3>
                            <h3>Educator, United States</h3>
                        </div>
                    </div>
                </div>
                <div class="drawer-button_container" data-toggle="7">
                    <img class="drawer-button align-self-middle m2" src="../img/icons/menu-button.svg" alt="">
                    <img class="drawer-close-button align-self-middle m2" src="../img/icons/close-button.svg" alt="">
                    <span class="h6 uppercase drawer-button_label">Read Story</span>
                </div>
                <div data-closedrawer></div>
                <div class="leftDrawer" data-toggle="7">
                    <div class="grid-y grid-padding-x grid-padding-y">
                        <section class="cell auto">
                            <h1 class="drawer-title">Data drives student success in America’s heartland</h1>
                            <div class="drawer-content">
                                <p>
                                    <img src="../img/drawer/profile-succeed2020-drawer-original.jpg"
                                        alt="A teacher and a student looking at a laptop computer">
                                </p>
                                <p>The Succeed 2020 project had a bold and ambitious goal: Support all North Dakota
                                    students
                                    to successfully transition from school to college and 21st century careers.
                                </p>
                                <p>
                                    Although students were enrolling in postsecondary education at a rate that outpaced
                                    the national average, they were not staying
                                    in school: North Dakota’s postsecondary completion rates for both two-year and
                                    four-year
                                    institutions fell below the national averages.
                                </p>
                                <p>
                                    Leading the charge for change were eight regional education associations that work
                                    with school districts, higher education
                                    institutions, state and local governments, businesses and community groups. To aid
                                    their
                                    efforts,
                                    <b>Succeed 2020 provided customized technical support and tools to generate data and
                                        research
                                        that educators can use to develop targeted programs for the unique needs of
                                        differing
                                        schools.
                                    </b>
                                </p>
                                <p>
                                    <b>Customized solutions </b>
                                </p>
                                <p>
                                    For Jennifer Carlson, the project’s resources and technical support were crucial to
                                    transforming her region’s largely rural
                                    schools into ones that provide more rigorous academic and career and technical
                                    education
                                    programs, college and career counseling and support for students needing extra help.
                                    “The project really helped us to drill down and determine the best way to achieve
                                    the
                                    most goals within the fastest time,” said Carlson, the executive director of North
                                    Dakota’s
                                    Northeast Education Services Cooperative (NESC), one of the state’s regional
                                    education
                                    associations.
                                </p>
                                <p>
                                    NESC designed a system that consistently collects and analyzes data from both
                                    internal and external sources. The data system
                                    increased NESC’s capacity to identify gaps in services and supports and more
                                    effectively
                                    allocate resources in the region’s 22-member public, private and tribal school
                                    districts.
                                    Educators were offered professional development activities, while students had
                                    access
                                    to more rigorous curricula and college and career preparation activities, including
                                    virtual
                                    job shadowing and science, technology, engineering and math (STEM) camps.
                                </p>
                                <p>
                                    <b>Better student outcomes</b>
                                </p>
                                <p>
                                    The impact of the five-year Succeed 2020 project can be seen across North Dakota.
                                    The number of students qualifying for state
                                    scholarships increased by 9 percentage points, from 15 percent to 24 percent.
                                    Succeed
                                    2020 also engaged North Dakota businesses: About 350 participated in career fairs
                                    during
                                    the 2016-17 school year, which informed students about career opportunities as well
                                    as
                                    the education needed to get those jobs. Among students participating in college and
                                    career
                                    readiness activities in the same academic year, 93 percent reported knowing more
                                    about
                                    careers, and 85 percent reported increased understanding of the importance of
                                    aligning
                                    course selections with career choices.
                                </p>
                                <p>
                                    With improved infrastructure at NESC, Carlson says her regional education
                                    association, along with the others that served
                                    as the project’s change agents, is now able to move forward using a data-driven
                                    perspective.
                                    This will help to ensure that schools are meeting the needs of their students, and
                                    the
                                    people who educate them, as they transition into their next chapter.
                                </p>
                                <p>
                                    “We’ve increased our organizational capacities, including our in-house education
                                    data system,” Carlson said. “Data is part
                                    of our culture now.”
                                </p>
                                <p>
                                    NESC was recently awarded a grant from the U.S. Department of Education, which will
                                    enable it to partner with three districts
                                    and the Spirit Lake tribe to build on college and career readiness efforts initiated
                                    under Succeed 2020.
                                </p>
                                <hr>
                                <p>

                                    Project:
                                    <a href="https://www.fhi360.org/projects/succeed-2020-north-dakota-education-and-workforce-development"
                                        target="_blank">Succeed 2020</a>
                                </p>
                                <p>Funder: Hess Corporation
                                </p>
                                <p>
                                    Web title: Educator
                                </p>
                                <hr>
                                <p>
                                    Photo credit: Leanne Gray/FHI 360
                                </p>
                            </div>
                        </section>
                    </div>
                </div>
                <div class="photo-credit-container">
                    <div class="photo-credit-trigger grid-x grid-padding-x align-middle">
                        <span class="cell shrink">Photo credit</span>
                        <img src="../img/icons/down-chevron.svg" alt="">
                    </div>
                </div>
            </section>