        <section class="section" data-section="2" data-toc="1">
                <div class="photo-credits">
                    <h6>
                        <span>Photo:</span>As Hardworking as a Bee, Dirar Shawagfeh/FHI 360</h6>
                </div>
                <div class="bg objectfit-img">
                    <img src="../img/slides/profile-jordan-slide2-original.jpg" alt="Close-up of a beehive ">
                </div>
                <div class="bg-screen"></div>
                <div class="grid-x inner-frame">
                    <div class="small-12 medium-9 large-8 cell grid-y align-center">
                        <div class="cell shrink slide-title stagger-in">
                            <h2>“The focus on small and home-based businesses is giving women the tools they need to
                                become more
                                powerful and independent, and this leads to their greater contribution to the economy.”
                            </h2>
                        </div>
                        <div class="cell shrink stagger-in">
                            <hr class="small">
                        </div>
                        <div class="cell shrink slide-subtitle stagger-in">
                            <h3>Samira Saeed Mouawwad, </h3>
                            <h3>Business owner, Jordan</h3>
                        </div>
                    </div>
                </div>
                <div class="photo-credit-container">
                    <div class="photo-credit-trigger grid-x grid-padding-x align-middle">
                        <span class="cell shrink">Photo credit</span>
                        <img src="../img/icons/down-chevron.svg" alt="">
                    </div>
                </div>
            </section>