            <section class="section" data-section="11" data-toc="8">
                <div class="photo-credits">
                    <h6>
                        <span>Photo:</span>Maxiphoto/iStockPhoto</h6>
                </div>
                <div class="bg objectfit-img">
                    <img data-src="http://sean-harrington.com/ar2018/img/slides/example-myanmar-slide-original.jpg"
                        alt="Crowd of people walking in a street market of Yangon, Myanmar">
                </div>
                <div class="bg-screen purple"></div>
                <div class="grid-x inner-frame">
                    <div class="small-12 medium-8 large-7 cell grid-y align-center">
                        <div class="cell shrink slide-title stagger-in">
                            <h2>Supporting Myanmar's democratic transition</h2>
                        </div>
                        <div class="cell shrink slide-subtitle">
                            <ul class="checkmarks">
                                <li class="stagger-in">
                                    <img width="20" src="../img/icons/checkmark.svg" alt="">
                                    <span>Promoting civic action and engagement</span>
                                </li>
                                <li class="stagger-in">
                                    <img width="20" src="../img/icons/checkmark.svg" alt="">
                                    <span>Supporting an independent media</span>
                                </li>
                                <li class="stagger-in">
                                    <img width="20" src="../img/icons/checkmark.svg" alt="">
                                    <span>Leadership development</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="drawer-button_container" data-toggle="11">
                    <img class="drawer-button align-self-middle m2" src="../img/icons/menu-button.svg" alt="">
                    <img class="drawer-close-button align-self-middle m2" src="../img/icons/close-button.svg" alt="">
                    <span class="h6 uppercase drawer-button_label">Learn More</span>
                </div>
                <div data-closedrawer></div>
                <div class="leftDrawer" data-toggle="11">
                    <div class="grid-y grid-padding-x grid-padding-y">
                        <section class="cell auto">
                            <h1 class="drawer-title">Supporting Myanmar’s democratic transition</h1>
                            <div class="drawer-content">
                                <p>After many years of authoritarian rule, the Southeast Asian country of Myanmar
                                    (Burma) is
                                    on a journey toward establishing a functioning democracy. Effective, sustainable and
                                    independent civil society and media organizations are vital to success.
                                </p>
                                <p>
                                    <b>FHI 360 is helping to build civil society and media capacity.</b> In partnership
                                    with
                                    Internews, Voluntary Service Overseas, and the Public International Law and Policy
                                    Group,
                                    we are supporting civil society and media leaders who are laying the foundation for
                                    greater
                                    openness in their country. We support civil society and media organizations that
                                    seek
                                    to advance democratic reform through:
                                </p>
                                <p>
                                    <ul>
                                        <li>
                                            <b>Promoting civic action and engagement.</b> We work with more than 30
                                            organizations
                                            on how to promote legal and policy reform and develop advocacy campaigns by
                                            working
                                            in coalitions. As part of this work, we brought together more than 100 civil
                                            society representatives with members of parliament to discuss the rights of
                                            farmers,
                                            persons with disabilities, women’s rights and the ratification of the
                                            International
                                            Covenant on Civil and Political Rights.</li>
                                        <li>
                                            <b>Supporting an independent media.</b> Through a local partner
                                            organization, Mizzima,
                                            120 state and national-level members of Parliament have been trained in the
                                            function
                                            of a free media in a democracy and how they can work with media to engage
                                            the
                                            public. Because such engagement was not possible in the past, this is new
                                            territory
                                            for both leaders and journalists.</li>
                                        <li>
                                            <b>Reintegration and skills building.</b> We connected 50 former political
                                            prisoners
                                            with civil society organizations, where they served as fellows in the Former
                                            Political Prisoners Fellowship Program. Participating organizations benefit
                                            from
                                            the fellows’ political knowledge and advocacy experience, while the fellows
                                            develop
                                            practical skills to succeed in the workplace.</li>
                                        <li>
                                            <b>Leadership development.</b> We trained more than a dozen “inclusion
                                            champions,”
                                            who will build local capacity among civil society organizations to change
                                            societal
                                            attitudes.
                                        </li>
                                    </ul>
                                </p>
                                <p>
                                    Through our work, organizations in Myanmar are on an accelerated path to effective
                                    leadership that reflects the interests
                                    of their constituents and those who advocate for positive reform.
                                </p>
                                <p>

                                    Project name:
                                    <a href="https://www.fhi360.org/projects/civil-society-and-media-project"
                                        target="_blank">Civil Society and Media Project</a>
                                </p>
                                <p>
                                    Funder: USAID
                                </p>
                            </div>
                        </section>
                    </div>
                </div>
                <div class="photo-credit-container">
                    <div class="photo-credit-trigger grid-x grid-padding-x align-middle">
                        <span class="cell shrink">Photo credit</span>
                        <img src="../img/icons/down-chevron.svg" alt="">
                    </div>
                </div>
            </section>