           <section class="section" data-section="4" data-toc="3" data-parallax="zoom2">
                <div class="photo-credits">
                    <h6>
                        <span>Photo:</span>Vivek Singh/The Verbatim Agency for FHI 360</h6>
                </div>
                <div class="bg objectfit-img top">
                    <img class="back"
                        data-src="http://sean-harrington.com/ar2018/img/layers/profile-india-slide1-bg.jpg"
                        alt="Yatin Thakur talking with colleagues inside the CoWorkin office ">
                    <img class="fore"
                        data-src="http://sean-harrington.com/ar2018/img/layers/profile-india-slide1-fg.png"
                        alt="Yatin Thakur talking with colleagues inside the CoWorkin office ">
                </div>
                <div class="bg-screen black"></div>
                <div class="grid-x inner-frame">
                    <div class="small-12 medium-6 large-4 cell grid-y align-center">
                        <div class="cell shrink slide-title stagger-in">
                            <h2>Emerging leader in India makes lasting connections</h2>
                        </div>
                        <div class="cell shrink stagger-in">
                            <hr class="small">
                        </div>
                        <div class="cell shrink slide-subtitle stagger-in">
                            <h3>Yatin Thakur,</h3>
                            <h3>Entrepreneur, India</h3>
                        </div>
                    </div>
                </div>
                <div class="drawer-button_container" data-toggle="4">
                    <img class="drawer-button align-self-middle m2" src="../img/icons/menu-button.svg" alt="">
                    <img class="drawer-close-button align-self-middle m2" src="../img/icons/close-button.svg" alt="">
                    <span class="h6 uppercase drawer-button_label">Read Story</span>
                </div>
                <div data-closedrawer></div>
                <div class="leftDrawer" data-toggle="4">
                    <div class="grid-y grid-padding-x grid-padding-y">
                        <section class="cell auto">
                            <h1 class="drawer-title">Emerging leaders develop lasting connections</h1>
                            <div class="drawer-content">
                                <p>
                                    <img src="../img/drawer/profile-india-drawer-original.jpg"
                                        alt="Yatin Thakur inside his CoWorkin office space ">
                                </p>
                                <p>Yatin Thakur is a young Indian “serial entrepreneur” with big ambitions. Just 30
                                    years old,
                                    he has already founded Startup India Advisory, a collective aimed at fostering
                                    entrepreneurship,
                                    and CoworkIn, a company that caters to a new generation of Indian entrepreneurs by
                                    providing
                                    affordable co-working spaces throughout New Delhi. This is in addition to founding
                                    seven
                                    other start-ups focused on wireless technology, media and bridging India’s
                                    rural-urban
                                    divide.
                                </p>
                                <p>
                                    Thakur and five other Indian technology entrepreneurs visited the United States as
                                    part of an International Visitor Leadership
                                    Program (IVLP) called “Showcasing the American Technological Experience.” For 22
                                    days,
                                    they traveled to six cities — Boston, Kansas City, Manchester (New Hampshire), New
                                    York
                                    City, Salt Lake City and Washington (DC) — where they took a firsthand look at
                                    e-governance
                                    initiatives, broadband access in rural areas and the use of big data in high-density
                                    U.S. cities. They also met with financiers to discuss how to gain investors and
                                    create
                                    the infrastructure for the next generation of technology tools.
                                </p>
                                <p>
                                    Every year, IVLP brings emerging foreign leaders like Thakur to the United States
                                    for short-term visits where they can interact
                                    with U.S. counterparts to increase mutual understanding, share ideas and
                                    opportunities,
                                    and forge relationships.
                                    <b>The leaders who participate in the IVLP program return to their home countries
                                        with energy
                                        and information that ignite new ideas and a better understanding of the United
                                        States.</b>
                                </p>
                                <p>
                                    <b>New ideas, broader vision </b>
                                </p>
                                <p>
                                    Thakur says the knowledge he gained from the IVLP experience fundamentally changed
                                    his vision for his business as well as
                                    how he engages with government and business clients. “When you’re doing work in your
                                    country, you’re usually based in one city and you’re just thinking about your nearby
                                    surroundings and your local community,” he said. “The visit allowed me to figure out
                                    solutions from a broader lens and helped me think about how my work could be more
                                    impactful
                                    in my local state as well as the country.”
                                </p>
                                <p>
                                    Before IVLP, Thakur operated two CoworkIn spaces in New Delhi. Now, he is in seven
                                    locations and plans to be in 20 spaces
                                    by the end of 2018. “My exposure to the U.S. environment showed me how to bring in
                                    the
                                    right people to work to achieve scale.”
                                </p>
                                <p>
                                    Thakur, who is also the managing director for India at the Global Entrepreneurship
                                    Network, intends to do all he can to promote
                                    India’s growing culture of entrepreneurship and the fast pace of digital innovation.
                                    Already, he has given a head start to many young Indian entrepreneurs and startups.
                                    “I
                                    want to be in a key influencing position to make sure my country is moving forward
                                    and
                                    supporting all its people,” he says. “I want to make sure every Indian succeeds and
                                    that
                                    the country prospers and makes the world proud.”
                                </p>
                                <p>
                                    <b>IVLP impact</b>
                                </p>
                                <p>
                                    In 2017, FHI 360 designed programs for 543 IVLP participants from around the world
                                    on topics that included business development,
                                    human rights, investigative journalism, civic engagement, rule of law, disability
                                    inclusion
                                    and combating human trafficking.
                                </p>
                                <hr>
                                <p>

                                    Project:
                                    <a href="https://www.fhi360.org/projects/international-visitor-leadership-program-ivlp"
                                        target="_blank">International Visitor Leadership Program (IVLP)</a>
                                </p>
                                <p>
                                    Funder: U.S. Department of State, Bureau of Educational and Cultural Affairs
                                </p>
                                <p>
                                    Web title: Entrepreneur
                                </p>
                                <hr>
                                <p>
                                    Photo credit: Vivek Singh/The Verbatim Agency for FHI 360
                                </p>
                            </div>
                        </section>
                    </div>
                </div>
                <div class="photo-credit-container">
                    <div class="photo-credit-trigger grid-x grid-padding-x align-middle">
                        <span class="cell shrink">Photo credit</span>
                        <img src="../img/icons/down-chevron.svg" alt="">
                    </div>
                </div>
            </section>