            <section class="section" data-section="8" data-toc="5">
                <div class="photo-credits">
                    <h6>
                        <span>Photo:</span>Leanne Gray/FHI 360</h6>
                </div>
                <div class="bg objectfit-img">
                    <img src="../img/slides/profile-succeed2020-slide2-original.jpg"
                        alt="Grain silos during a winter sunset in Devil’s Lake, North Dakota">
                </div>
                <div class="bg-screen"></div>
                <div class="grid-x inner-frame">
                    <div class="small-12 large-9 cell grid-y align-center">
                        <div class="cell shrink slide-title stagger-in">
                            <h2>“We’ve increased our organizational capacities, including our in-house education data
                                system.
                                Data is part of our culture now.”</h2>
                        </div>
                        <div class="cell shrink stagger-in">
                            <hr class="small">
                        </div>
                        <div class="cell shrink slide-subtitle stagger-in">
                            <h3>Jennifer Carlson,</h3>
                            <h3>Educator, United States</h3>
                        </div>
                    </div>
                </div>
                <div class="photo-credit-container">
                    <div class="photo-credit-trigger grid-x grid-padding-x align-middle">
                        <span class="cell shrink">Photo credit</span>
                        <img src="../img/icons/down-chevron.svg" alt="">
                    </div>
                </div>
            </section>