.toc-title {
  span.mobile {
    font-size: 16px;
    display: none;
  }
}
@media screen and (max-width: $medium) {
  div#header .share-menu {
    display: none;
  }
  [data-section='0'] .drawer-button_container {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: $large) {
  .fp-tablecell-auto .fp-tableCell {
    height: 100% !important;
    height: 100vh !important;
    display: initial !important;
    vertical-align: initial !important;
  }
}
@media screen and (max-width: $large) {
  div#header {
    padding: 0;

    .home img {
      width: 60px;
    }

    .menu.main {
      position: fixed;
      height: 400px;
      display: flex;
      flex-direction: column;
      background: white;
      width: 100vw;
      left: 0;
      top: 69px;
      justify-content: space-evenly;

      li {
        margin: 0;
      }

      transform: translateY(-110%);
      transition: all 500ms ease;
      z-index: -1;
    }
    .mobile-menu-trigger,
    .logo-container {
      display: flex;
      flex: 1 1 auto;
      align-self: center;
    }
    .mobile-menu-trigger {
      position: absolute;
      left: 50%;
      margin-left: -10px;
    }
    .nav-container {
      align-items: flex-end;
    }
  }
  .mobile-open div#header .menu.main {
    transform: translateY(0);
  }
  .section .inner-frame {
    padding: 0 20px;
    .slide-titles {
      padding-bottom: 200px;
    }
  }
  .leftDrawer {
    width: 90%;
  }
  .drawer-open .drawer-button_container {
    left: 90vw;
    display: inline-table;
  }
  #rightSideBar {
    width: 80vw;
    .toc-title {
      padding: 10px 0 10px 10px;
      span {
        font-size: 18px;
      }
    }
  }
  .photo-credit-container {
    left: 10px;
  }
  #up-down {
    display: none;
  }

  .toc-title {
    span {
      display: none;
    }
    span.mobile {
      display: inline;
    }
  }
  #rightSideBar .toc-number {
    width: 30px;
    height: 30px;
    border-width: 2px;
    font-size: 18px;
  }
  [data-section="0"] {
    .gradient {
      background: none;
    }
    .inner-frame {
      padding: 0 !important;
    }
  }
}
