.intro.section {
  // position: fixed;
  // top: 0;
  // left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background: #fff;
  color: #000;
}
.section {
  color: white;
  .bg {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -2;
    overflow: hidden;
    &-screen {
      z-index: -1;
      position: absolute;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.4);

      &.darker {
        background: rgba(0, 0, 0, 0.6);
      }

      &.lighter {
        background: rgba(0, 0, 0, 0.3);
      }

      &.purple {
        background: rgba(55, 33, 79, 0.6);
      }

      &.black {
        background: #000;
      }
    }
  }
  .inner-frame {
    // min-height: 100vh;
    height: 100%;
    padding: 100px 60px 185px 60px;

    &.centered {
      padding: 185px 60px;
    }
  }

  .slide-title {
    font-size: 30px;
    font-size: 3.75vw;
  }
  .slide-subtitle h3 {
    font-size: 20px;
    color: white;
    margin-bottom: 0;
    line-height: 1.5;
    text-transform: uppercase;
    
  }

  @media screen and (min-width: $medium) {
    .slide-title {
      font-size: 3.75vw;
    }
    .slide-subtitle h3 {
      font-size: 1.35vw;
    }
  }
}


[data-section='0'] {
  background-color: inherit !important;
}

// ceo
[data-section='2'] {
  .inner-frame .grid-y {
    max-width: 1200px;
  }
  .ceo-sub {
    font-size: 18px;
    font-weight: 700;
  }

  .ceo-h3 {
    font-size: 20px;
    font-weight: 500;
  }
}

.learnmore {
  background: white;
  color: #000;
  h2 {
    color: $orange;
  }
  a > img {
    width: 30px;
    height: 30px;
  }
}

// #footer {

// }

.photo-credit {
  &-container {
    position: absolute;
    left: 50px;
    bottom: 30px;
  }
  &-trigger {
    cursor: pointer;
    span {
    }
    img {
      width: 10px;
      height: 6px;
    }
  }
}

.photo-credits {
  position: absolute;
  transform: translateY(100%);
  z-index: 9999;
  height: 50px;
  width: 100%;
  left: 0;
  bottom: 0;
  align-items: center;

  padding: 0px 50px;
  background: #fff;
  color: #000;

  display: none;
  h6 {
    margin-bottom: 0;
    font-size: 20px;
  }
  span {
    margin-right: 4px;
  }
  .credit-open & {
    display: flex;
  }
  &:after {
    content: '×';
    position: absolute;
    right: 50px;
    bottom: 0;
    font-size: 32px;
    cursor: pointer;
  }
}

.bg {
  .fore {
    position: absolute;
    top: 0;
    left: 0;
  }
}

[data-closedrawer] {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 10001;
  top: 0;
  left: 0;

  display: none;
  .drawer-open & {
    display: block;
  }
}
