.gradient {
  background-image: linear-gradient(45deg, #007787 0%, #006b88 66%, #006289 100%);
}

#intro-chevron {
  position: absolute;
  bottom: -50px;
  left: 50%;
  width: 50px;
  margin-left: -25px;
  z-index: 999;
  cursor: pointer;
}

.bg-c video.bg-c-video {
  width: auto;
  max-width: none;
  height: 100vh;
  position: absolute;
}

.bg-c {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.svg-animation,
.video-container {
  position: relative;
  width: 100vw;
  height: 100vh;

  video {
    object-fit: cover;
    font-family: 'object-fit: cover;'; // with object-fit-video polyfill js
    width: 100%;
    height: 100%;
    // height: auto;

    // @supports (object-fit: cover) {
    //   height: 100%;
    // }
    // /* ie edge only gets the following rule */
    // @supports (object-fit: cover) and (-ms-ime-align: auto) {
    //   height: auto;
    // }
  }

  svg {
    position: absolute;
    bottom: 0;
    left: 0;
    height: auto;
    width: 100%;
  }
}

.section {
  color: white;
  .bg {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -2;
    overflow: hidden;
    &-screen {
      z-index: -1;
      position: absolute;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.4);

      &.darker {
        background: rgba(0, 0, 0, 0.6);
      }

      &.lighter {
        background: rgba(0, 0, 0, 0.3);
      }

      &.purple {
        background: rgba(55, 33, 79, 0.6);
      }

      &.black {
        background: #000;
      }
    }
  }
  .inner-frame {
    display: flex;
    min-height: 100vh;
    height: 100vh;
    padding: 0 60px;
    padding-bottom: 185px;
  }

  .slide-title {
    font-size: 30px;
    font-size: 3.75vw;
  }
  .slide-subtitle h3 {
    font-size: 20px;
    color: white;
    margin-bottom: 0;
    line-height: 1.5;
    text-transform: uppercase;
  }

  @media screen and (min-width: $medium) {
    .slide-title {
      font-size: 3.75vw;
    }
    .slide-subtitle h3 {
      font-size: 1.35vw;
    }
  }
}

[data-section='0'] {
  .video-container {
    video {
      object-position: top center;
    }
  }
  .inner-frame {
    padding: 0;
    align-items: flex-end !important;
  }
  .large-11 {
    width: 100% !important;
    margin-bottom: 10vh;
  }
  background-color: inherit !important;
}

// ceo
[data-section='2'] {
  .svg-animation {
    display: none;
  }
  .inner-frame .grid-y {
    max-width: 1200px;
  }
  .ceo-sub {
    font-size: 18px;
    font-weight: 700;
  }

  .ceo-h3 {
    font-size: 20px;
    font-weight: 500;
  }
}

[data-section='12'],
[data-section='7'] {
  svg {
    max-width: 800px;
    margin: 0 auto;
    left: 0;
    right: 0;
  }
}

.learnmore {
  background: white;
  color: #000;
  h2 {
    color: #007787;
  }
  a > img {
    width: 30px;
    height: 30px;
  }
}

// #footer {

// }

.photo-credit {
  &-container {
    position: absolute;
    left: 50px;
    bottom: 30px;
  }
  &-trigger {
    cursor: pointer;
    span {
      font-size: 16px;
    }
    img {
      width: 10px;
      height: 6px;
    }
  }
}

.photo-credits {
  position: absolute;
  transform: translateY(100%);
  z-index: 9999;
  height: 50px;
  width: 100%;
  left: 0;
  bottom: 0;
  align-items: center;

  padding: 0px 50px;
  background: #fff;
  color: #000;

  display: none;
  h6 {
    margin-bottom: 0;
    font-size: 16px;
  }
  span {
    margin-right: 4px;
  }
  .credit-open & {
    display: flex;
  }
  &:after {
    content: '×';
    position: absolute;
    right: 50px;
    bottom: 0;
    font-size: 32px;
    cursor: pointer;
  }
}

.bg {
  .fore {
    position: absolute;
    top: 0;
    left: 0;
  }
}

[data-closedrawer] {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 10001;
  top: 0;
  left: 0;

  display: none;
  .drawer-open & {
    display: block;
  }
}

// hl4
[data-section='17'] {
  .gradient {
    background: none;
  }

  .video-container {
    position: relative;
    width: 100%;
  }
  #video {
    z-index: 1;
    width: 100vw;
    height: 100vh;
    font-family: 'object-fit: cover;'; // with object-fit-video polyfill js
    object-fit: cover;
    object-position: right;
  }

  #video,
  svg {
    right: 0;
    position: absolute;
    width: 100%;
  }
  .inner-grandient {
    background-image: linear-gradient(45deg, #007787 0%, #006b88 66%, #006289 100%);
    z-index: 10;
    position: absolute;
    width: 100vw;
    height: 100vh;
  }
  svg {
    z-index: 11;
    left: initial;
    right: 0;
    width: auto !important;
    height: 111vh !important;
    transform: translate(-1.5vw, 1.2vh);
  }

  .inner-frame {
    align-items: flex-end;

    // .large-11 {
    //   // margin-bottom: 100px;
    // }
  }

  @media screen and (min-width: 63.9375em) {
    .inner-frame {
      justify-content: start;
      align-items: flex-end;
      padding: 0 0 18vh 13vw;

      .large-11 {
        max-width: 600px;

        h2 {
          font-size: 30px;
        }
      }
    }
  }
}
