<svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
  viewBox="0 0 1201.95 753.41">
  <defs>
    <clipPath id="clip-path">
      <rect x="0.95" width="1200" height="753.41" style="fill:none" />
    </clipPath>
  </defs>
  <title>svg-hl1.hbs</title>
  <path id="curve" d="M1,665.15S237.12,499.5,595.9,499.5C886,499.5,1201,653.77,1201,653.77"
    style="fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px;opacity:0.699999988079071;isolation:isolate" />
  <g style="clip-path:url(#clip-path)">
    <g id="circles" style="opacity:0.4000000059604645">
      <path d="M989.31,691.55a21.74,21.74,0,1,1,21.74,21.74,21.74,21.74,0,0,1-21.74-21.74Z" style="fill:#1d1d1b" />
      <path d="M586.18,630.21a21.68,21.68,0,1,1,21.72,21.68,21.68,21.68,0,0,1-21.72-21.68Z" style="fill:#706f6f" />
      <circle cx="116.23" cy="637.29" r="23.02" style="fill:#dadada" />
      <path d="M611.72,530.79a28,28,0,1,1,28,28.05A28,28,0,0,1,611.72,530.79Z" style="fill:#878787" />
      <path d="M681.12,670.93a25,25,0,1,1,25,25,25,25,0,0,1-25-25Z" style="fill:#c6c6c6" />
      <path d="M616.46,680.85a22.85,22.85,0,1,1,22.85,22.85h0A22.85,22.85,0,0,1,616.46,680.85Z" style="fill:#1d1d1b" />
      <path d="M182.25,625a25.36,25.36,0,1,1,25.37,25.35h0A25.35,25.35,0,0,1,182.25,625Z" style="fill:#c6c6c6" />
      <path d="M934.9,651.85A28.06,28.06,0,1,1,963,679.91h-.06A28.06,28.06,0,0,1,934.9,651.85Z" style="fill:#dadada" />
      <circle cx="1070.42" cy="581.25" r="22.46" style="fill:#c6c6c6" />
      <path d="M477.68,528a24.83,24.83,0,1,1,24.83,24.83A24.83,24.83,0,0,1,477.68,528Z" style="fill:#1d1d1b" />
      <path d="M909.38,744.64a21.79,21.79,0,1,1,21.8,21.78h0a21.78,21.78,0,0,1-21.78-21.78Z" style="fill:#878787" />
      <path d="M13.77,757.75A26.36,26.36,0,1,1,40.14,784.1h0A26.36,26.36,0,0,1,13.77,757.75Z" style="fill:#3c3c3b" />
      <path d="M852.31,655.41a21,21,0,1,1,21,21,21,21,0,0,1-21-21Z" style="fill:#f6f6f6" />
      <path d="M86.29,753.73a21.5,21.5,0,1,1,21.51,21.49h0A21.49,21.49,0,0,1,86.29,753.73Z" style="fill:#c6c6c6" />
      <path d="M443.6,499.45a21.9,21.9,0,1,1,21.9,21.9,21.89,21.89,0,0,1-21.9-21.9Z" style="fill:#3c3c3b" />
      <path d="M580.33,719.21a24,24,0,1,1,24,24A24,24,0,0,1,580.33,719.21Z" style="fill:#3c3c3b" />
      <path d="M142,587.62a27,27,0,1,1,27,27h0A27,27,0,0,1,142,587.62Z" style="fill:#706f6f" />
      <path d="M761.16,624.07a21.72,21.72,0,1,1,21.74,21.71,21.71,21.71,0,0,1-21.74-21.71Z" style="fill:#b2b2b2" />
      <circle cx="411.75" cy="579.7" r="21.18" style="fill:#b2b2b2" />
      <path d="M363.55,620.13a25.29,25.29,0,1,1,25.29,25.3,25.28,25.28,0,0,1-25.29-25.3Z" style="fill:#c6c6c6" />
      <path d="M839.29,539.25a24.2,24.2,0,1,1,24.2,24.2,24.19,24.19,0,0,1-24.2-24.2Z" style="fill:#f6f6f6" />
      <path d="M680.9,493.2a23.71,23.71,0,1,1,23.71,23.71A23.71,23.71,0,0,1,680.9,493.2Z" style="fill:#f6f6f6" />
      <path d="M58.13,661.13a21,21,0,1,1,21,21h0A21,21,0,0,1,58.13,661.13Z" style="fill:#706f6f" />
      <path d="M963.65,743.63a21.21,21.21,0,1,1,21.22,21.2h0A21.21,21.21,0,0,1,963.65,743.63Z" style="fill:#878787" />
      <circle cx="638.81" cy="755.73" r="25.59" style="fill:#3c3c3b" />
      <path d="M293.49,730.52a21.09,21.09,0,1,1,21.09,21.09,21.09,21.09,0,0,1-21.09-21.09Z" style="fill:#b2b2b2" />
      <circle cx="1181.58" cy="708.87" r="24.64" style="fill:#b2b2b2" />
      <path d="M122.9,672.36a22.7,22.7,0,1,1,22.71,22.69h0A22.7,22.7,0,0,1,122.9,672.36Z" style="fill:#3c3c3b" />
      <path d="M761.9,501.22a23,23,0,1,1,23,23h0A23,23,0,0,1,761.9,501.22Z" style="fill:#ededed" />
      <circle cx="976.32" cy="588.45" r="25.49" transform="translate(-109.08 240.05) rotate(-13.28)"
        style="fill:#1d1d1b" />
      <path d="M791.54,718.39a21.39,21.39,0,1,1,21.4,21.38h0A21.39,21.39,0,0,1,791.54,718.39Z" style="fill:#1d1d1b" />
      <circle cx="546.13" cy="504.14" r="23.48" style="fill:#575756" />
      <path d="M527.77,725.48a21.6,21.6,0,1,1,21.6,21.6h0A21.6,21.6,0,0,1,527.77,725.48Z" style="fill:#706f6f" />
      <circle cx="1147.65" cy="668.89" r="22.54" style="fill:#706f6f" />
      <circle cx="191.52" cy="693.77" r="24.05" style="fill:#dadada" />
      <circle cx="314.64" cy="619.06" r="23.9" style="fill:#3c3c3b" />
      <circle cx="1032.77" cy="732.98" r="21.31" transform="translate(-215.81 944.96) rotate(-45)"
        style="fill:#706f6f" />
      <path d="M869.39,575.59a21,21,0,1,1,21,21,21,21,0,0,1-21-21Z" style="fill:#878787" />
      <path d="M342.16,668.71a23.43,23.43,0,1,1,23.44,23.42h0A23.42,23.42,0,0,1,342.16,668.71Z" style="fill:#c6c6c6" />
      <path d="M1071.7,677a26.43,26.43,0,1,1,26.43,26.43A26.43,26.43,0,0,1,1071.7,677Z" style="fill:#575756" />
      <path d="M367.21,740.42a24,24,0,1,1,0,.05Z" style="fill:#878787" />
      <path d="M433.25,727.71A25.25,25.25,0,1,1,458.49,753a25.24,25.24,0,0,1-25.24-25.29Z" style="fill:#ededed" />
      <path d="M419.13,664.1a21,21,0,1,1,21,21h0A21,21,0,0,1,419.13,664.1Z" style="fill:#878787" />
      <path d="M586,574.9a24.76,24.76,0,1,1,24.77,24.75h0A24.74,24.74,0,0,1,586,574.91Z" style="fill:#575756" />
      <path d="M717.19,541.61a21.15,21.15,0,1,1,21.15,21.15,21.15,21.15,0,0,1-21.15-21.15Z" style="fill:#878787" />
      <path d="M788.55,538a21.79,21.79,0,1,1,21.79,21.79h0A21.78,21.78,0,0,1,788.55,538Z" style="fill:#878787" />
      <circle cx="687.22" cy="571.28" r="28.93" style="fill:#c6c6c6" />
      <path d="M236.9,632.14A22.88,22.88,0,1,1,259.82,655a22.88,22.88,0,0,1-22.92-22.86Z" style="fill:#706f6f" />
      <path d="M530.54,634.32A27.45,27.45,0,1,1,558,661.77a27.45,27.45,0,0,1-27.45-27.45Z" style="fill:#1d1d1b" />
      <path d="M480.09,765.83A29.16,29.16,0,1,1,509.25,795a29.15,29.15,0,0,1-29.16-29.17Z" style="fill:#b2b2b2" />
      <path d="M225.23,734.21a22.54,22.54,0,1,1,22.54,22.54h0a22.53,22.53,0,0,1-22.53-22.53Z" style="fill:#f6f6f6" />
      <circle cx="374.97" cy="507.21" r="24.05" style="fill:#b2b2b2" />
      <path d="M730.9,675.3a25.28,25.28,0,1,1,25.29,25.27h0a25.26,25.26,0,0,1-25.28-25.26Z" style="fill:#1d1d1b" />
      <path d="M730,595.49a21,21,0,1,1,21,21,21,21,0,0,1-21-21Z" style="fill:#1d1d1b" />
      <circle cx="237.12" cy="556.43" r="27.59" transform="translate(-324.01 330.65) rotate(-45)"
        style="fill:#3c3c3b" />
      <path d="M996.9,625.7a23.38,23.38,0,1,1,23.39,23.37h0A23.38,23.38,0,0,1,996.9,625.7Z" style="fill:#1d1d1b" />
      <path d="M9.9,703a23.51,23.51,0,1,1,23.52,23.5h0A23.52,23.52,0,0,1,9.9,703Z" style="fill:#1d1d1b" />
      <path d="M677,625.63a21,21,0,1,1,21,21,21,21,0,0,1-21-21Z" style="fill:#1d1d1b" />
      <circle cx="912.76" cy="640.15" r="21.22" style="fill:#575756" />
      <path d="M458.15,590a22.49,22.49,0,1,1,22.49,22.49h0A22.5,22.5,0,0,1,458.15,590Z" style="fill:#706f6f" />
      <path d="M421.66,546.69a24.63,24.63,0,1,1,24.64,24.62h0A24.63,24.63,0,0,1,421.66,546.69Z" style="fill:#f6f6f6" />
      <path d="M261.8,684a23.39,23.39,0,1,1,23.4,23.38h0A23.39,23.39,0,0,1,261.8,684Z" style="fill:#f6f6f6" />
      <path d="M900,524.34a21,21,0,1,1,21,21A21,21,0,0,1,900,524.34Z" style="fill:#f6f6f6" />
      <path
        d="M-28.1,675A23.65,23.65,0,0,1-4.45,651.35,23.65,23.65,0,0,1,19.2,675,23.65,23.65,0,0,1-4.45,698.65,23.65,23.65,0,0,1-28.1,675Z"
        style="fill:#f6f6f6" />
      <path d="M527.08,568.29a24.81,24.81,0,1,1,24.82,24.8h0A24.8,24.8,0,0,1,527.08,568.29Z" style="fill:#575756" />
      <circle cx="854.32" cy="708.95" r="21.04" style="fill:#c6c6c6" />
      <path d="M464.22,670.42A25.77,25.77,0,1,1,490,696.19h0a25.76,25.76,0,0,1-25.76-25.76Z" style="fill:#3c3c3b" />
      <path d="M311.12,531.55A21.83,21.83,0,1,1,333,553.37h-.06A21.81,21.81,0,0,1,311.12,531.55Z"
        style="fill:#878787" />
      <path d="M577.48,673.67a18.43,18.43,0,1,1,18.43,18.43h0a18.42,18.42,0,0,1-18.42-18.42Z" style="fill:#1d1d1b" />
      <path d="M1113.14,731.7a14,14,0,1,1,14,14A14,14,0,0,1,1113.14,731.7Z" style="fill:#b2b2b2" />
      <path d="M1054.81,640.94a14.61,14.61,0,1,1,14.61,14.61h0A14.6,14.6,0,0,1,1054.81,641Z" style="fill:#ededed" />
      <path d="M941.78,701.2a15.58,15.58,0,1,1,15.59,15.57h0A15.58,15.58,0,0,1,941.78,701.2Z" style="fill:#1d1d1b" />
      <circle cx="341.35" cy="766.03" r="15.73" style="fill:#3c3c3b" />
      <path d="M642.41,608.05a17.1,17.1,0,1,1,17.1,17.1h0A17.11,17.11,0,0,1,642.41,608.05Z" style="fill:#706f6f" />
      <circle cx="108.45" cy="714.01" r="15.94" style="fill:#878787" />
      <circle cx="585.88" cy="502.65" r="16.29" style="fill:#b2b2b2" />
      <path d="M926,604.12a14,14,0,1,1,14,14A14,14,0,0,1,926,604.12Z" style="fill:#1d1d1b" />
      <path d="M862.9,739.59a14,14,0,1,1,14,14h0A14,14,0,0,1,862.9,739.59Z" style="fill:#c6c6c6" />
      <circle cx="537.07" cy="674.32" r="17.69" style="fill:#878787" />
      <circle cx="147.37" cy="736.17" r="14.27" transform="translate(-273 114.12) rotate(-22.73)"
        style="fill:#575756" />
      <path d="M254.55,584.62a16.59,16.59,0,1,1,16.59,16.59,16.59,16.59,0,0,1-16.59-16.59Z" style="fill:#ededed" />
      <path d="M874.29,688.89a16.91,16.91,0,1,1,16.92,16.9h0A16.9,16.9,0,0,1,874.29,688.89Z" style="fill:#b2b2b2" />
      <path d="M54.66,621.69a14,14,0,1,1,14,14A14,14,0,0,1,54.66,621.69Z" style="fill:#1d1d1b" />
      <path d="M397.73,529.28a14,14,0,1,1,14,14A14,14,0,0,1,397.73,529.28Z" style="fill:#b2b2b2" />
      <path d="M355.9,583.9A15.1,15.1,0,1,1,371,599a15.1,15.1,0,0,1-15.11-15.1Z" style="fill:#3c3c3b" />
      <path d="M268.38,745.9a14,14,0,1,1,14,14A14,14,0,0,1,268.38,745.9Z" style="fill:#878787" />
      <path d="M836.84,604.7a14,14,0,1,1,14,14A14,14,0,0,1,836.84,604.7Z" style="fill:#1d1d1b" />
      <path d="M732.5,733.22a14,14,0,1,1,14,14A14,14,0,0,1,732.5,733.22Z" style="fill:#575756" />
      <path d="M1007.79,571.52A18.19,18.19,0,1,1,1026,589.71h0a18.17,18.17,0,0,1-18.19-18.17Z" style="fill:#dadada" />
      <path d="M21.08,665.53a14,14,0,1,1,14,14A14,14,0,0,1,21.08,665.53Z" style="fill:#878787" />
      <path d="M759,565.74a18.32,18.32,0,1,1,18.32,18.32A18.32,18.32,0,0,1,759,565.74Z" style="fill:#b2b2b2" />
      <path d="M728.35,493.57a14,14,0,1,1,14,14,14,14,0,0,1-14-14Z" style="fill:#dadada" />
      <path d="M1053,702.85a14,14,0,1,1,14,14A14,14,0,0,1,1053,702.85Z" style="fill:#575756" />
      <path d="M289.79,567.87a13.53,13.53,0,1,1,13.54,13.52h0a13.51,13.51,0,0,1-13.53-13.51Z" style="fill:#dadada" />
      <path d="M165,654.21a11.23,11.23,0,1,1,11.23,11.23h0A11.22,11.22,0,0,1,165,654.22Z" style="fill:#b2b2b2" />
      <path d="M259.53,537.58a9.36,9.36,0,1,1,9.36,9.36h0A9.36,9.36,0,0,1,259.53,537.58Z" style="fill:#575756" />
      <circle cx="1099.7" cy="604.86" r="11.09" style="fill:#3c3c3b" />
      <circle cx="1143.7" cy="752.63" r="10.24" style="fill:#878787" />
      <path d="M383,556.13a9.36,9.36,0,1,1,9.36,9.36h0A9.36,9.36,0,0,1,383,556.13Z" style="fill:#1d1d1b" />
      <circle cx="728.42" cy="708.82" r="12.98" style="fill:#878787" />
      <path d="M450.07,687.76a9.37,9.37,0,1,1,9.37,9.37h0a9.36,9.36,0,0,1-9.36-9.36Z" style="fill:#dadada" />
      <path d="M813.77,757.19a17.17,17.17,0,1,1,17.17,17.17h0A17.16,17.16,0,0,1,813.77,757.19Z" style="fill:#f6f6f6" />
      <path d="M660.1,719.64a17,17,0,1,1,17,17h0A17,17,0,0,1,660.1,719.64Z" style="fill:#706f6f" />
      <path d="M439.71,469a11.67,11.67,0,1,1,11.67,11.67h0A11.66,11.66,0,0,1,439.71,469Z" style="fill:#706f6f" />
      <circle cx="655.71" cy="642.34" r="17.4" style="fill:#3c3c3b" />
      <path d="M716.1,569.27a9.37,9.37,0,1,1,9.38,9.36h0A9.36,9.36,0,0,1,716.1,569.27Z" style="fill:#575756" />
      <path d="M330.09,648.91a9.36,9.36,0,1,1,9.36,9.36h0A9.37,9.37,0,0,1,330.09,648.91Z" style="fill:#ededed" />
      <path d="M560.9,598.29a11,11,0,1,1,11,11h0A11,11,0,0,1,560.9,598.29Z" style="fill:#c6c6c6" />
      <path d="M423.05,750.47a9.37,9.37,0,1,1,9.38,9.36h0A9.38,9.38,0,0,1,423.05,750.47Z" style="fill:#1d1d1b" />
      <circle cx="203.52" cy="533.03" r="12.79" style="fill:#ededed" />
      <path d="M1055.76,612.63a9.36,9.36,0,1,1,9.36,9.36h0A9.37,9.37,0,0,1,1055.76,612.63Z" style="fill:#1d1d1b" />
      <circle cx="94.45" cy="692.47" r="9.76" transform="translate(-601.16 624.91) rotate(-76.68)"
        style="fill:#878787" />
      <circle cx="486.85" cy="470.5" r="14.07" style="fill:#c6c6c6" />
      <path d="M304.34,700.08a9.36,9.36,0,1,1,9.36,9.36h0A9.36,9.36,0,0,1,304.34,700.08Z" style="fill:#575756" />
      <path d="M1081.61,630.45a9.36,9.36,0,1,1,9.36,9.36h0A9.36,9.36,0,0,1,1081.61,630.45Z" style="fill:#ededed" />
      <path d="M927.64,678.82a9.36,9.36,0,1,1,9.36,9.36h0A9.36,9.36,0,0,1,927.64,678.82Z" style="fill:#706f6f" />
      <circle cx="928.1" cy="708.48" r="14.46" style="fill:#b2b2b2" />
      <path d="M164.64,633.74A9.37,9.37,0,1,1,174,643.1h0A9.36,9.36,0,0,1,164.64,633.74Z" style="fill:#1d1d1b" />
      <path d="M641.73,715.35a9.36,9.36,0,1,1,9.36,9.37,9.35,9.35,0,0,1-9.36-9.37Z" style="fill:#b2b2b2" />
      <circle cx="414.95" cy="706.88" r="16.93" style="fill:#878787" />
      <path d="M515.64,555.14a7.14,7.14,0,1,1,7.15,7.13h0A7.13,7.13,0,0,1,515.64,555.14Z" style="fill:#dadada" />
      <path d="M313.14,503.28a8.6,8.6,0,1,1,8.61,8.59h0A8.59,8.59,0,0,1,313.14,503.28Z" style="fill:#c6c6c6" />
      <path d="M1013.74,595.21a6.25,6.25,0,1,1,6.26,6.24h0A6.24,6.24,0,0,1,1013.74,595.21Z" style="fill:#1d1d1b" />
      <path d="M399.37,685.67a6.24,6.24,0,1,1,6.24,6.24h0A6.24,6.24,0,0,1,399.37,685.67Z" style="fill:#1d1d1b" />
      <path d="M638.78,564.67a6.25,6.25,0,1,1,6.25,6.25h0A6.25,6.25,0,0,1,638.78,564.67Z" style="fill:#ededed" />
      <path d="M540.8,533.85a6.25,6.25,0,1,1,6.26,6.24h0A6.24,6.24,0,0,1,540.8,533.85Z" style="fill:#b2b2b2" />
      <path d="M1174.66,756a10.45,10.45,0,1,1,10.45,10.45h0A10.45,10.45,0,0,1,1174.66,756Z" style="fill:#dadada" />
      <path d="M567.48,739a6.24,6.24,0,1,1,6.24,6.25,6.23,6.23,0,0,1-6.24-6.25Z" style="fill:#c6c6c6" />
      <path d="M627.9,714.32a6.25,6.25,0,1,1,6.26,6.24h0A6.24,6.24,0,0,1,627.9,714.32Z" style="fill:#878787" />
      <circle cx="605.25" cy="470.61" r="6.81" style="fill:#dadada" />
      <path d="M422.63,496.41a6.87,6.87,0,1,1,6.87,6.87h0A6.88,6.88,0,0,1,422.63,496.41Z" style="fill:#f6f6f6" />
      <path d="M362.62,701.83a7.63,7.63,0,1,1,7.64,7.62h0A7.63,7.63,0,0,1,362.62,701.83Z" style="fill:#706f6f" />
      <circle cx="534.21" cy="470.24" r="7.09" transform="translate(-53.48 871.65) rotate(-75.69)"
        style="fill:#575756" />
      <path d="M536.41,459.93a6.25,6.25,0,1,1,6.25,6.25h0a6.24,6.24,0,0,1-6.24-6.24Z" style="fill:#1d1d1b" />
      <path d="M486.53,732.1a7.75,7.75,0,1,1,7.75,7.75h0A7.75,7.75,0,0,1,486.53,732.1Z" style="fill:#f6f6f6" />
      <path d="M308.17,678.7a11.65,11.65,0,1,1,11.65,11.65,11.65,11.65,0,0,1-11.65-11.65Z" style="fill:#dadada" />
      <circle cx="850.27" cy="501.11" r="6.36" style="fill:#dadada" />
      <path d="M1115.3,702.69a14,14,0,1,1,14,14,14,14,0,0,1-14-14Z" style="fill:#878787" />
      <circle cx="1201.24" cy="685.05" r="6.24" style="fill:#575756" />
      <path d="M660.33,691a6.25,6.25,0,1,1,6.25,6.25h0a6.24,6.24,0,0,1-6.24-6.24Z" style="fill:#3c3c3b" />
      <path d="M812.7,502.73a15.14,15.14,0,1,1,15.15,15.13h0A15.14,15.14,0,0,1,812.7,502.73Z" style="fill:#3c3c3b" />
      <path d="M350.36,699.33a6.25,6.25,0,1,1,6.26,6.24h0A6.24,6.24,0,0,1,350.36,699.33Z" style="fill:#ededed" />
      <path d="M930.22,625.84a7.78,7.78,0,1,1,7.78,7.78,7.78,7.78,0,0,1-7.78-7.78Z" style="fill:#706f6f" />
      <path d="M135.12,706.85A11.83,11.83,0,1,1,147,718.68a11.83,11.83,0,0,1-11.83-11.83Z" style="fill:#1d1d1b" />
      <path d="M967.9,687.21a6.25,6.25,0,1,1,6.25,6.25h0A6.25,6.25,0,0,1,967.9,687.21Z" style="fill:#878787" />
      <path d="M1102.56,712.28a7.5,7.5,0,1,1,7.5,7.5h0A7.5,7.5,0,0,1,1102.56,712.28Z" style="fill:#878787" />
      <path d="M766.42,744.42a10.72,10.72,0,1,1,10.72,10.72h0A10.72,10.72,0,0,1,766.42,744.42Z" style="fill:#1d1d1b" />
      <circle cx="579.38" cy="582.71" r="6.24" style="fill:#706f6f" />
      <path d="M161.11,741.09a8,8,0,1,1,8,8A8,8,0,0,1,161.11,741.09Z" style="fill:#dadada" />
      <path d="M996.32,649.4a6.25,6.25,0,1,1,6.25,6.25,6.25,6.25,0,0,1-6.25-6.25Z" style="fill:#dadada" />
      <circle cx="914.8" cy="594.53" r="9.82" style="fill:#706f6f" />
      <path d="M637.2,581.67a11,11,0,1,1,11,11.05A11,11,0,0,1,637.2,581.67Z" style="fill:#b2b2b2" />
      <path d="M883.23,720.28a13.84,13.84,0,1,1,13.84,13.84,13.84,13.84,0,0,1-13.84-13.84Z" style="fill:#f6f6f6" />
      <path d="M476.05,637.34a7.87,7.87,0,1,1,7.87,7.87,7.87,7.87,0,0,1-7.87-7.87Z" style="fill:#3c3c3b" />
      <path d="M868.56,609.89a9.09,9.09,0,1,1,9.09,9.09,9.09,9.09,0,0,1-9.09-9.09Z" style="fill:#c6c6c6" />
      <path d="M1115.65,753.15a7.75,7.75,0,1,1,7.75,7.75,7.75,7.75,0,0,1-7.75-7.75Z" style="fill:#f6f6f6" />
      <path d="M340.19,577.31a8.34,8.34,0,1,1,8.34,8.34h0a8.33,8.33,0,0,1-8.33-8.33Z" style="fill:#f6f6f6" />
      <path d="M502,601.93a20.14,20.14,0,1,1,20.14,20.14h0A20.13,20.13,0,0,1,502,601.94Z" style="fill:#575756" />
      <path d="M1035.77,605a7.57,7.57,0,1,1,7.57,7.58,7.56,7.56,0,0,1-7.57-7.58Z" style="fill:#706f6f" />
      <path d="M479,553.82a6.25,6.25,0,1,1,6.26,6.24h0A6.24,6.24,0,0,1,479,553.82Z" style="fill:#dadada" />
      <path d="M508.67,694.49a9.77,9.77,0,1,1,9.77,9.77,9.76,9.76,0,0,1-9.77-9.77Z" style="fill:#b2b2b2" />
      <path d="M873.5,625.08a6.24,6.24,0,1,1,6.24,6.24h0A6.24,6.24,0,0,1,873.5,625.08Z" style="fill:#dadada" />
      <path d="M101.23,682.83a7.29,7.29,0,1,1,7.29,7.29h0a7.28,7.28,0,0,1-7.28-7.28Z" style="fill:#c6c6c6" />
      <path d="M774.42,541.4a6.25,6.25,0,1,1,6.26,6.24h0A6.24,6.24,0,0,1,774.42,541.4Z" style="fill:#ededed" />
      <circle cx="339.78" cy="684.39" r="6.73" transform="translate(-19.92 10.26) rotate(-1.68)" style="fill:#b2b2b2" />
      <path d="M129.27,752.88a6.25,6.25,0,1,1,6.25,6.25h0a6.24,6.24,0,0,1-6.24-6.24Z" style="fill:#575756" />
      <path d="M297.05,546.23a8.21,8.21,0,1,1,8.21,8.21h0a8.2,8.2,0,0,1-8.2-8.2Z" style="fill:#ededed" />
      <path d="M1150.06,641.44a6.25,6.25,0,1,1,6.26,6.24h0A6.25,6.25,0,0,1,1150.06,641.44Z" style="fill:#1d1d1b" />
      <path d="M83.83,726.42a6.25,6.25,0,1,1,6.25,6.25h0a6.24,6.24,0,0,1-6.24-6.24Z" style="fill:#dadada" />
      <path d="M381.54,710.33a6.25,6.25,0,1,1,6.26,6.24h0A6.24,6.24,0,0,1,381.54,710.33Z" style="fill:#ededed" />
      <circle cx="514.08" cy="724.9" r="12.06" style="fill:#1d1d1b" />
      <path d="M434,702a6.28,6.28,0,1,1,6.28,6.28A6.28,6.28,0,0,1,434,702Z" style="fill:#f6f6f6" />
      <path d="M1029.42,678.26a6.25,6.25,0,1,1,6.26,6.24h0A6.24,6.24,0,0,1,1029.42,678.26Z" style="fill:#575756" />
      <path d="M625.79,644.18a6.25,6.25,0,1,1,6.26,6.24h0A6.25,6.25,0,0,1,625.79,644.18Z" style="fill:#c6c6c6" />
    </g>
  </g>
</svg>