$colors: #f27321, #eeeeee, #ffffff, #eeeeee, #eeeeee;

.intro-header {
	top: 0;
	left: 0;
	> span:not(#words) {
		color: #000;
	}
}

.catalyst,
.cat_logo {
	background: #f27321;
	font: 16em/1 Montserrat;
	font-weight: 500;
	letter-spacing: 0.15em;
}

.text--line {
	font-size: 1.5em;
	@media screen and (max-width: $medium) {
		font-size: 0.2em;
		letter-spacing: 0.1em;
	}
}

$max: 5;
$stroke-step: 5%;
.text-copy {
	fill: none;
	stroke: #f27321;
	stroke-dasharray: $stroke-step $stroke-step * ($max - 1);
	stroke-width: 0.05em;

	.run-ants & {
		animation: stroke-offset 3s 1 ease-out;

		@for $item from 1 through $max {
			$stroke-color: nth($colors, $item);

			&:nth-child(#{$item}) {
				stroke: $stroke-color;
				stroke-dashoffset: $stroke-step * $item;
			}
		}
	}
}

@keyframes stroke-offset {
	0% {
		stroke-dashoffset: 0.2em * $max;
		stroke-dasharray: 0 0.2em * $max * 2.5;
	}
}
