$colors: #ffffff, #eeeeee, #dddddd, #cccccc, #bbbbbb;

.intro-header {
	top: 0;
	left: 0;
	> span:not(#words) {
		color: #000;
	}
}

.catalyst,
.cat_logo {
	background: #f27321;
	font: 16em/1 Montserrat;
	font-weight: 400;
	letter-spacing: 0.15em;
}

.text--line {
	font-size: 1.5em;
	@media screen and (max-width: $medium) {
		font-size: 0.2em;
		letter-spacing: 0.1em;
	}
}

.text--subline {
	font-family: Montserrat, sans-serif;
	font-weight: 200;
	font-size: 0.45em;
	letter-spacing: 0.01em;

	@media screen and (max-width: $medium) {
		font-size: 0.05em;
	}
}

// svg {
// 	position: absolute;
// 	width: 100vw;
// 	height: 100vh;
// }

$max: 2;
$stroke-step: 8%;
.text-copy {
	fill: none;
	stroke: white;
	stroke-dasharray: $stroke-step $stroke-step * ($max - 1);
	stroke-width: 3px;

	// .run-ants & {
	animation: stroke-offset 10s 3 ease;
	stroke-dashoffset: $stroke-step;

	// @for $item from 1 through $max {
	// 	$stroke-color: nth($colors, $item);

	// 	&:nth-child(#{$item}) {
	// 		stroke: $stroke-color;
	// 		stroke-dashoffset: $stroke-step * $item;
	// 	}
	// }
	// }
}

@keyframes stroke-offset {
	50% {
		stroke-dashoffset: 200px;
		stroke-dasharray: 0 300px;
	}
	50% {
		stroke-dashoffset: 100px * $max;
		stroke-dasharray: 0 100px * $max * 2.5;
	}
}
