// index.js
.object-fit img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	object-position: center;
}
.object-fit.top img {
	object-position: top center;
}
.compat-object-fit {
	background-size: cover;

	img {
		opacity: 0;
		pointer-events: none;
	}
}

// elements

hr {
	border-width: 3px;
	border-color: rgba(255, 255, 255, 0.5);

	&.medium {
		border-width: 2px;
		width: 225px;
	}
	&.small {
		margin: 50px 0 30px 0;
		width: 67px;
	}
}

ul.checkmarks {
	list-style: none;
	margin-left: 0;
	li {
		padding-left: 40px;
		height: 30px;
		span {
			font-size: 20px !important;
		}
	}
	img {
		margin-left: -40px;
		margin-right: 20px;
	}
}

// spacing

.p1 {
	padding: 10px;
}

.p2 {
	padding: 20px;
}

.m1 {
	margin: 10px;
}

.m2 {
	margin: 20px;
}

.mb0 {
	margin-bottom: 0;
}

.mb08 {
	margin-bottom: 8px;
}

.mb4 {
	margin-bottom: 40px;
}

// type

body {
	font-family: 'mr-eaves-modern';
	font-size: 20px;
}
.uppercase {
	text-transform: uppercase;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6,
span,
p,
a {
	font-family: 'mr-eaves-modern';
	font-weight: 200;
	line-height: 1;

	strong {
		font-weight: 400;
	}
}

// TOC

.toc-toggle {
	cursor: pointer;
	border-radius: 100%;
	border: 3px solid #000;
	height: 50px;
	width: 50px;

	display: flex;
	align-items: center;
	justify-content: center;
	&-inner {
	}
}

.close-rightbar {
	display: none;
	position: fixed;
	z-index: 1000;
	background: rgba(0, 0, 0, 0.5);

	.toc-open & {
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		display: block;
	}
}

#rightSideBar {
	background: #fff;
	color: #000;
	height: 100%;
	height: 100vh;
	position: fixed;
	right: 0;
	top: 0;
	transform: translateX(100%);
	z-index: 10002;

	width: 400px;

	.toc-open & {
		box-shadow: rgb(0, 0, 0) 0px 0px 156px 20px;
	}

	.toc {
		height: 100%;
	}
	.toc-item {
		cursor: pointer;
		padding: 10px 20px;
		align-items: center;
		border-bottom: 1px solid #ddd;
	}
	.toc-number {
		padding: 10px;
		border: 5px solid black;
		border-radius: 100%;
		display: flex;
		width: 50px;
		height: 50px;
		align-items: center;
		justify-content: center;
	}
	.toc-title {
		padding: 10px 50px 10px 10px;

		span {
			font-size: 21px;
		}
	}
}

// Header

#header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;

	z-index: 1001;

	background: #fff;

	padding: 0px 60px;
	transition: all ease 300ms;

	.drawer-open & {
		opacity: 0;
	}

	.home-logo {
		width: 125px;
	}

	li a {
		text-transform: uppercase;
		color: #000;
		font-weight: 700;
		letter-spacing: 0.1em;
		font-size: 14px;
	}
	.menu li {
		padding: 0 5px;
	}
}

.footer {
	background: #f2f2f2;
}

// Widgets
.counter {
	margin-bottom: 0;
	font-size: 88px;
	font-weight: 200;

	label {
		font-size: 16px;
		color: #fff;
	}
}

// .align-right {
//     -webkit-box-pack: end;
//     -webkit-justify-content: flex-end;
//     -ms-flex-pack: end;
//     justify-content: flex-end
// }

// .align-center {
//     -webkit-box-pack: center;
//     -webkit-justify-content: center;
//     -ms-flex-pack: center;
//     justify-content: center
// }

// .align-justify {
//     -webkit-box-pack: justify;
//     -webkit-justify-content: space-between;
//     -ms-flex-pack: justify;
//     justify-content: space-between
// }

// .align-spaced {
//     -webkit-justify-content: space-around;
//     -ms-flex-pack: distribute;
//     justify-content: space-around
// }

// .align-right.vertical.menu>li>a {
//     -webkit-box-pack: end;
//     -webkit-justify-content: flex-end;
//     -ms-flex-pack: end;
//     justify-content: flex-end
// }

// .align-center.vertical.menu>li>a {
//     -webkit-box-pack: center;
//     -webkit-justify-content: center;
//     -ms-flex-pack: center;
//     justify-content: center
// }

// .align-top {
//     -webkit-box-align: start;
//     -webkit-align-items: flex-start;
//     -ms-flex-align: start;
//     align-items: flex-start
// }

// .align-self-top {
//     -webkit-align-self: flex-start;
//     -ms-flex-item-align: start;
//     align-self: flex-start
// }

// .align-bottom {
//     -webkit-box-align: end;
//     -webkit-align-items: flex-end;
//     -ms-flex-align: end;
//     align-items: flex-end
// }

// .align-self-bottom {
//     -webkit-align-self: flex-end;
//     -ms-flex-item-align: end;
//     align-self: flex-end
// }

// .align-middle {
//     -webkit-box-align: center;
//     -webkit-align-items: center;
//     -ms-flex-align: center;
//     align-items: center
// }

// .align-self-middle {
//     -webkit-align-self: center;
//     -ms-flex-item-align: center;
//     -ms-grid-row-align: center;
//     align-self: center
// }

// .align-stretch {
//     -webkit-box-align: stretch;
//     -webkit-align-items: stretch;
//     -ms-flex-align: stretch;
//     align-items: stretch
// }

// .align-self-stretch {
//     -webkit-align-self: stretch;
//     -ms-flex-item-align: stretch;
//     -ms-grid-row-align: stretch;
//     align-self: stretch
// }

// .align-center-middle {
//     -webkit-box-pack: center;
//     -webkit-justify-content: center;
//     -ms-flex-pack: center;
//     justify-content: center;
//     -webkit-box-align: center;
//     -webkit-align-items: center;
//     -ms-flex-align: center;
//     align-items: center;
//     -webkit-align-content: center;
//     -ms-flex-line-pack: center;
//     align-content: center
// }
