@media screen and (max-width: $medium) {
	div#header {
		padding: 0;

		.home img {
			width: 60px;
		}

		.menu.simple {
			position: fixed;
			height: 400px;
			display: flex;
			flex-direction: column;
			background: white;
			width: 100vw;
			left: 0;
			top: 69px;
			justify-content: space-evenly;

			li {
				margin: 0;
			}

			transform: translateY(-100%);
			transition: all 500ms ease;
			z-index: -1;
			&.open {
				transform: translateY(0);
			}
		}
	}
}
