.toc-title {
	span.mobile {
		font-size: 16px;
		display: none;
	}
}

@media screen and (max-width: $medium) {
	div#header {
		padding: 0;

		.home img {
			width: 60px;
		}

		.menu.main {
			position: fixed;
			height: 400px;
			display: flex;
			flex-direction: column;
			background: white;
			width: 100vw;
			left: 0;
			top: 69px;
			justify-content: space-evenly;

			li {
				margin: 0;
			}

			transform: translateY(-110%);
			transition: all 500ms ease;
			z-index: -1;
		}
		.mobile-menu-trigger,
		.logo-container {
			display: flex;
			flex: 1 1 auto;
			align-self: center;
		}
		.mobile-menu-trigger {
			position: absolute;
			left: 50%;
			margin-left: -10px;
		}
		.nav-container {
			align-items: flex-end;
		}
		.share-menu {
			display: none;
		}
	}
	.mobile-open div#header .menu.main {
		transform: translateY(0);
	}
	.section .inner-frame {
		padding: 0 20px;
	}
	.leftDrawer {
		width: 90%;
	}
	.drawer-open .drawer-button_container {
		left: 100%;
		display: inline-table;
	}
	#rightSideBar {
		width: 80vw;
		.toc-title {
			padding: 10px 0 10px 10px;
			span {
				font-size: 18px;
			}
		}
	}
	.photo-credit-container {
		left: 10px;
	}
	#up-down {
		display: none;
	}

	.toc-title {
		span {
			display: none;
		}
		span.mobile {
			display: inline;
		}
	}
	#rightSideBar .toc-number {
		width: 30px;
		height: 30px;
		border-width: 2px;
		font-size: 18px;
	}
	//intro
	.section.intro #intro-chevron {
		bottom: 0px;
	}
	.catalyst svg {
		margin-top: -30px;
	}
	// ceo
	[data-section='0'] {
		.inner-frame .align-center {
			text-align: center;
			img {
				margin-top: -20px;
				margin-bottom: 20px;
			}
		}
	}
}
