      <div id="header" class="grid-x grid-padding-x grid-padding-y">
            <div class="cell shrink logo-container">
                <a href="#" class="home">
                    <img src="../img/fhi-logo-tagline.svg" alt="" class="home-logo">
                </a>
            </div>
            <div class="cell auto hide-for-large mobile-menu-trigger">
                <img src="https://icon.now.sh/menu" alt="">
            </div>
            <div class="cell auto grid-y align-center nav-container">
                <div class="grid-x grid-padding-x align-middle">
                    <ul class="cell auto menu simple main">
                        <li class="hide-for-large">
                            <a href="http://www.google.com/search?strip=1&q=cache:www.sean-harrington.com/ar2018">Text-only
                                version</a>
                        </li>
                        <li>
                            <a href="#">At a glance</a>
                        </li>
                        <li>
                            <a href="#">Financials</a>
                        </li>
                        <li>
                            <a href="#">Leadership</a>
                        </li>
                        <li>
                            <a href="#">Funders</a>
                        </li>
                        <li>
                            <a href="#" data-ceoLink>CEO Letter</a>
                        </li>
                    </ul>
                    <div class="cell shrink share-menu">
                        <img class="share-icon" src="https://icon.now.sh/share" alt="">
                        <ul class="menu simple">
                            <li>
                                <a href="#" class="cell auto" data-fb-share>
                                    <img width="30" src="../img/icons/fb-icon.svg" alt="share on facebook">
                                </a>
                            </li>
                            <li>
                                <a class="cell auto" data-tw-share
                                    href="https://twitter.com/home?status=See Catalyst: REPLACEME.COM">
                                    <img width="30" src="../img/icons/twitter-icon.svg" alt="retweet">
                                </a>
                            </li>
                            <li>
                                <a data-li-share href="https://www.linkedin.com/shareArticle?mini=true&url=http://developer.linkedin.com&title=LinkedIn%20Developer%20Network
                                    &summary=My%20favorite%20developer%20program&source=LinkedIn" class="cell auto">
                                    <img width="30" src="../img/icons/linkedin-icon.svg" alt="share on linkedin">
                                </a>
                            </li>
                            <!-- <li>
                                <a href="#" class="cell auto">
                                    <img width="30" src="../img/icons/link-icon.svg" alt="copy this link">
                                </a>
                            </li> -->
                        </ul>
                    </div>
                    <div class="cell shrink">
                        <div class="toc-toggle">
                            <div class="toc-toggle-inner">
                                Start
                            </div>
                            <div class="toc-progress">
                                <svg xmlns="http://www.w3.org/2000/svg" width="48.5" height="48.5"
                                    viewBox="0 0 48.5 48.5">
                                    <circle cx="24.25" cy="24.25" r="23.5"
                                        style="fill: none;stroke: #000;stroke-miterlimit: 10;stroke-width: 2px" />
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
